<footer id="footer">
	<!--하단개인정보 링크영역-->
	<div class="f_info_w">
		<div class="layout">
			<!-- <div class="f_logo"> -->
			</div>

		</div>
	</div>

	 
	<div class="f_link_w">
		
		<div class="layout">
			<!--하단주소-->
			<div class="f_addr">
				<address class="addr">
					<div>TEST</div>
					<div>1234</div>
				</address>
				
			</div>
			<!--//f_addr-->
			<!--//하단주소--> 
			
			<div class="f_link"> 
				<div class="dropdown">
					<button class="f_link_tt dropbtn" onclick="myFunction()">관련사이트</button>
					
				</div>
			</div>
			<!--//f_link-->
			 
		</div>
	</div>
	<!--//하단주소영역&바로가기 링크-->



	
</footer>

