

<div id="lnb_hm">
	<!--layout-->
	<div class="layout2">
	  <!--S:좌측-->
	  <ul class="siteLink">
		<li class="home"><a href="/">Camping</a></li>
	  </ul>
	  <!--//E:좌측-->
	  <!--S:우측-->
	  <dl class="utilMenu">
		<dt class="skip">유틸메뉴</dt>
		<dd>
		  <ul class="list" id="loginList">
			  <% if(isAuthenticated){ %>
				<% if(currentUser.provider =='kakao'){ %>
				  <li class="nav-item"><a href="/user/<%= currentUser.name %>" class="nav-link">myPage</a></li>	
				<% }else{ %>  
				  <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">myPage</a></li>
				<% } %>  
				  <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
				<% } else { %>
				  <li class="nav-item"><a href="/users/new" class="nav-link">Sign Up</a></li>
				  <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
				<% } %>
		  </ul>
		</dd>
	  </dl>
	  <!--//E:우측-->
	</div>
	<!--//layout-->
  </div>
  
  
  <header id="header" style="right: 0px">
	<div id="header_in">
		<div class="layout2">
			<!--S:로고영역-->
			<div class="logoarea">
				<!--S:Logo-->
				<h1 id="logo">
					<a href="/"><span class="">Campoing Info</span></a>
				</h1>
			
				<!--//E:통합검색-->
				  <!--모바일ver-->
				  <div class="h_m_mn">
					  <a id="open_mn" class="btn_lnb">메뉴</a> <a id="open_search" class="btn_search">검색</a>
				  </div>
				  <!--검색OPEN-->
				  <div class="layer_open_search" style="display: none;" id="open_search_inner">
					  <div class="layout">
						  <form id="totalSearchForm02" action="/bsite/search/list.do" role="search" method="get">
							  <fieldset>
								  <legend class="screen_out">검색어 입력폼</legend>
								  <div class="box_search">
									  <label for="searchKrwd" class="skip">캠핑장을 검색해보세요.</label> <input type="text" id="searchKrwd" name="searchKrwd" class="campSearch_op" title="캠핑장을 검색해보세요">
									  <button type="submit" class="btn_search">
										  <span class="icon_all camp_search">검색</span>
									  </button>
									  <button class="btn_delete" id="search_delete" type="button" onclick="javascript:layer_close();">
										  <span class="camp_search_close">닫기</span>
									  </button>
								  </div>
							  </fieldset>
						  </form>
					  </div>
				  </div>
				  <!--//검색OPEN-->
				  <!--//모바일ver-->
			  </div>
			  <!--//E:로고영역-->
		  </div>
		  <!--S:상단메뉴-->
		  <!-- 주요메뉴:S -->
		  <nav id="gnb">
  <div class="gnb_in">
	  <h2 class="skip">주요메뉴</h2>
	  <div class="layout">
		  <div class="wrap">
			  <ul class="top1menu clearfix">
				  <li class="depth1 41"><a href="/campingInfo">캠핑찾기</a>
						  <ul class="top2menu" style="display: none;">
							  <li><a href="/campingInfo">캠핑장 검색</a>
							  </li>
							  <li><a href="/campingInfo">지도로 검색</a>
							  </li>
									  <!-- <li>
										  <ul class="top2menu_in">
											  <li><a href="/camp/recomend/list.do">이달의 추천 캠핑장</a></li>
											  <li><a href="/zboard/list.do?lmCode=campEvent">캠핑장 이벤트</a></li>
										  </ul>
									  </li> -->
							  </ul>
			</li>
			<li class="depth1 53"><a href="/notice">캠핑톡</a>
			  <ul class="top2menu" style="display: none;">
				  <li><a href="/notice">공지사항</a>
								  </li>
				  <li><a href="/">캠핑장 리뷰</a>
					  <!-- <li><a href="/zboard/list.do?lmCode=campRequest">캠핑장정보 수정요청</a>
								  </li> -->
					  </ul>
		  </li>
				  </ul>
		  </div>
	  </div>
	  <div class="wrapBg" style="display: none;"></div>
	  <div class="bg_black">
		  <span class="skip">투명배경이미지</span>
	  </div>
  </div>
  </nav><!-- 주요메뉴:E -->
		  <!-- S: TM_주요메뉴 -->
		  <div class="tm_gnb_w" style="opacity: 1; display: none;">
	  <div class="tm_nav_bg">
		  <span class="skip">투명배경이미지</span>
	  </div>
	  <nav id="tm_gnb" style="left: 0">
		  <h2>
			  <span class="skip">모바일용 메뉴</span>
		  </h2>
  
		  <div id="tm_gnb01">
			  <ul>
  
				  <li class="tm_sitemap"><a href="/bsite/sitemap/read">사이트맵</a></li>
				  <li class="tm_login"><a href="/account/login">로그인</a></li>
					  </ul>
  
		  </div>
		  <div id="tm_gnb00">
			  <ul>
				  <li class="tm_oprtr3"><a href="/oprtr/intro.do">사업자용</a></li>
						  <li class="tm_oprtr3"><a href="http://lms.gocamping.or.kr/" target="_blank">안전교육</a></li>
					  </ul>
		  </div>
		  <div id="tm_gnb02">
			  <ul>
				  <li class="tm_home"><a href="/"><span class="skip">홈으로</span></a></li>
				  
			  </ul>
		  </div>
		  <div id="tm_gnb03">
			  <ul class="tm_topMenu">
				
				  <li class="tm_top1m"><a href="/bsite/camp/info/list.do" class="tm_menu1"><span>캠핑GO</span></a>
							  <ul class="tm_top2m" style="display: none;">
								  <li><a href="/bsite/camp/info/list.do">캠핑장 검색</a>
												  </li>
									  <li><a href="/bsite/camp/info/list.do?listTy=MAP">지도로 검색</a></li>
									  <!-- <li><a href="/camp/recomend/list.do">이달의 추천 캠핑장</a></li>
									  <li><a href="/zboard/list.do?lmCode=campEvent">캠핑장 이벤트</a></li> -->
								  </ul>
						  </li>
				  <li class="tm_top1m"><a href="/" class="tm_menu2"><span>캠핑 Reviews</span></a>
							  <ul class="tm_top2m" style="display: none;">
								  <li><a href="/">캠핑장 별 리뷰</a>
												  </li>
									
									  </ul>
						  </li>
				
				  </ul>
		  </div>
	  </nav>
	  <div class="tm_gnb_close" style="cursor: pointer;">
		  <button type="button">
			  <span class="skip">모바일용 메뉴 닫기</span>
		  </button>
	  </div>
  </div><!-- E: TM_주요메뉴 -->
		  <!--//E:상단메뉴-->
	  </div>


	  
	
  

  
  </header>
