@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

.campingInfo {
  width: 100%;
  position: relative;
  height: auto;
  clear: both;
  padding: 15px 0 95px 0;
  background: #fff;
}

h2 {
  float: left;
  width: 100%;
  color: #fff;
  margin-bottom: 40px;
  font-size: 14px;
  position: relartive;
  z-index: 3;
  margin-top: 30px;
}
h2 span {
  font-family: 'Libre Baskerville', serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}
h2 a {
  color: #fff;
  font-weight: bold;
}

.head {
  float: left;
  width: 100%;
}
.listing-block {
  background: #fff;
  height: 500px;
  padding-top: 20px;
  overflow-y: scroll;
}
.media {
  background: #fff;
  position: relative;
  margin-bottom: 10px;
}
.media img {
  width: 200px;
  margin: 0;
  height: 140px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 1px solid #bcbcbc;
}
.media-body {
  border: 1px solid #bcbcbc;
  border-left: 0;
  height: 140px;
}
.media .price {
  float: left;
  width: 100%;
  font-size: 29px;
  font-weight: 600;
  color: #4765ab;
}

/* 캠핑 타이틀 */
.media .title {
  float: left;
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  color: #4765ab;
}

.media .title small {
  display: block;
  font-size: 15px;
  color: #232323;
}

.media .price small {
  display: block;
  font-size: 17px;
  color: #232323;
}
.media .stats {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.media .stats span {
  float: left;
  margin-right: 10px;
  font-size: 15px;
}
.media .stats span i {
  margin-right: 7px;
  color: #4765ab;
}
.media .address {
  float: left;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  color: #888;
}
.media .fav-box {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 4px;
  color: #e74c3c;
}

.map-box {
  background-color: #a3ccff;
}
