html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 28px;
  font-family: 'NanumG', '나눔고딕', Dotum, '돋움', Helvetica, AppleGothic,
    Sans-serif, 'Tahoma', 'MS PGothic';
  color: #626262;
  letter-spacing: -1px;
}
