
<% include ../common/head.ejs %>

<link rel="stylesheet" type="text/css" href="/static/css/login.css">

<body>
    <div id="logreg-forms">
        <form class="user-form"  action="/login" method="POST">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> 로그인</h1>
            <div class="social-login" style="text-align: center">
                <!-- <button class="btn social-btn" type="button" style="background-image: url(/static/img/kakao_login/ko/kakao_login_medium_narrow.png); background-size: cover; height: 35px;"></button> -->
                <button class="btn kakao-btn social-btn" type="button" name="socialLogin" id="kakao" ><span><i class="fas fa-comment"></i> 카카오 로그인</span> </button>
                <!-- <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button> -->
            </div>
            <p style="text-align:center"> OR  </p>
            <input type="text" id="username" name="username" value="<%= username %>" placeholder="아이디를 입력하세요" class="form-control <%= (errors.username)?'is-invalid':'' %>">
            <% if(errors.username){ %>
              <span class="invalid-feedback"><%= errors.username %></span>
            <% } %>
            <input type="password" id="password" name="password" value="" placeholder="비밀번호를 입력하세요" class="form-control <%= (errors.password)?'is-invalid':'' %>">
            <% if(errors.password){ %>
              <span class="invalid-feedback"><%= errors.password %></span>
            <% } %>

            <% if(errors.login){ %>
                <div class="invalid-feedback d-block"><%= errors.login %></div>
              <% } %>

            <div id="alert_message" class="" style="color:red" ></div>
            <input class="btn btn-primary" type="submit" value="로그인">
            <a href="/" id="forgot_pswd">비밀번호를 잃어버리셨습니까?</a>
            <hr>
        </form>

        <!-- <a href="/auth/kakao">
            <img
              src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
            />
        </a> -->

        <form action="/reset/password" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">비밀번호 초기화</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> 뒤로</a>
        </form>
            
        <!-- <form action="/signup" class="form-signup">
            <div class="social-login">
                <button class="btn kakao-btn social-btn" type="button"><span><i class="fas fa-comment"></i> 카카오 로그인</span> </button>
            </div>
          
            
            <p style="text-align:center">OR</p>

            <input type="text" id="username" name="username" value="" placeholder="이름" class="form-control">
            <input type="text" id="email" name="email" value="" placeholder="이메일"class="form-control">
            <input type="password" id="password" name="password" value="" placeholder="비밀번호" class="form-control">
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="비밀번호 value="" class="form-control">

            <button class="btn btn-primary btn-block" type="button" onclick="show()"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        
        <br> -->
            
    </div>
  
    <script>
    


        $(document).ready(() => {


            $('button[name=socialLogin').on('click',(e)=>{
                document.location.href = '/login/kakao'; 
            });
            
            


        });
        function btnLogin() {
            document.getElementById('alert_message').innerText('');

            var id = document.getElementById('inputId').value;
            var pwd = document.getElementById('inputPassword').value;

            if(pwd == null || pwd == ""){
                document.getElementById('alert_message').innerText('비밀번호를 입력해주세요.');
            }

            var dataset = { id : id , pw : pwd} ;

        
            $.ajax({
                url: "/login",                  // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: dataset,                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "POST",                 // HTTP 요청 방식(GET, POST)
                dataType: "json",
                
                success:function(result){
                    console.log(result);
                }
                ,fail:function(err){
                    alert(err);
                }

            });


        }




        function toggleResetPswd(e){
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle() // display:block or none
            $('#logreg-forms .form-reset').toggle() // display:block or none
        }

        function toggleSignUp(e){
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle(); // display:block or none
            $('#logreg-forms .form-signup').toggle(); // display:block or none
        }

        $(()=>{
            // Login Register Form
            $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
            $('#logreg-forms #cancel_reset').click(toggleResetPswd);
            $('#logreg-forms #btn-signup').click(toggleSignUp);
            $('#logreg-forms #cancel_signup').click(toggleSignUp);
         
        })

    </script>
</body>




