.rating .rate_radio + label {
  position: relative;
  display: inline-block;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  background-image: url('/static/img/icons/starrate.png');
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  cursor: pointer;
  background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
  background-color: #ffff00;
}

.reviewform textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.rating .rate_radio {
  position: relative;
  display: inline-block;
  z-index: 20;
  opacity: 0.001;
  width: 60px;
  height: 60px;
  background-color: #fff;
  cursor: pointer;
  vertical-align: top;
  display: none;
}

/* 별 퍼센티지 채우기 */
.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star-ratings-base {
  z-index: 0;
  padding: 0;
}

.delete_comment {
  position: relative;
  display: inline-block;
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('/static/img/icons/trash_basket_512.png');
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  cursor: pointer;
}

.camp_cont_w .line_100_custom {
  position: relative;
  /* top: 52px; */
  /* left: 0; */
  width: 100%;
  height: 1px;
  background: #8d8d8d;
}
.rating {
  padding-left: 10px;
}
.rating .rate_radio {
  vertical-align: sub;
}

.rating .rate_radio + label {
  margin-bottom: 0rem;
}

#score label {
  vertical-align: sub;
  padding-left: 7px;
  margin-bottom: 0;
}

.profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile_inline {
  display: inline-block;
}

.profile_div {
  margin-bottom: 5px;
}

.inner-star::before {
  color: #ff9600;
}
.outer-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}
.inner-star {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}
.outer-star::before,
.inner-star::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  font-family: 'Font Awesome 5 free';
  font-weight: 900;
}
