<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<!-- slimscroll include  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>






<link rel="stylesheet" href="/jqx/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="/jqx/jqwidgets/styles/jqx.material.css" type="text/css" />
<!-- add the jQWidgets framework -->
<script type="text/javascript" src="/jqx/jqwidgets/jqxcore.js"></script>
<!-- add one or more widgets -->
<script type="text/javascript" src="/jqx/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/jqx/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqx/jqwidgets/jqxsplitter.js"></script>
    <script type="text/javascript" src="/jqx/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqx/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqx/jqwidgets/jqxpanel.js"></script>

<!-- pagination -->
<!-- <link rel="stylesheet" type="text/css" href="/pagination/pagination.css">
<script type="text/javascript" src="/pagination/pagination.min.js"></script> -->
<script type="text/javascript" src="/twbs-pagination/jquery.twbsPagination.min.js"></script>



    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- services와 clusterer, drawing 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e5998e9ad04889d0c8c01051ffa65737&libraries=services,clusterer,drawing"></script>

<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/css/goCamp/layout.css">
<link rel="stylesheet" type="text/css" href="/static/css/goCamp/template.css">
<link rel="stylesheet" type="text/css" href="/static/css/goCamp/default.css">

