
  <body>
    

    <div class="container mb-3">

      <h2 class="mb-3">Board</h2>

      <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col">리뷰 내용</th>
            <th scope="col" class="author">글쓴이</th>
            <th scope="col" class="date">날짜</th>
          </tr>
        </thead>

        <tbody>
          <% if(post == null || post.length == 0){ %>
            <tr>
              <td colspan=2> no data :( </td>
            </tr>
          <% } %>
          <% post.forEach(function(Comment) { %>
            <tr>
              <td>
                <div class="ellipsis"><%= Comment.comment %></div></a>
              </td>
              <td class="author">
                <div class="ellipsis"><%= Comment.user_id ? Comment.user_id.name : "" %></div>
              </td>
              <td class="date">
                <span data-date="<%= Comment.created_dt %>"></span>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>

     

    </div>
  </body>
