

<% include ./common/head.ejs %>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" type="text/css" href="/static/css/campingInfo.css">

<body>

    <% include ./common/navbar.ejs %>

        <div id="mainSplitter" >
          <div class="splitter-panel" style="overflow-y: scroll;">
          
            <div class="container">

              <div class="row" style="margin: 5px 0px 5px 0px;">
                <div class="col-sm-4">
                  <select class="form-control" id="areaCode" style="width: 100%">
                    
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" id="areaCodeSub" style="width: 100%">
                  </select>
                </div>
                <div class="col-sm-4">
                  <button type="button" id="searchBtn" class="btn btn-dark" style="height: 35px;">검색</button>
                </div>
              </div>

              <div class="row" id="listRow">



              </div>
            </div>

            <!-- 페이징처리 -->
            <div id="pagination-div" style="display: flex; justify-content: center;">
            </div>

          </div>
          <div class="splitter-panel" >
              <div id="map" style="width:100%;height:100%;"></div>
          </div>
        </div>


    <% include ./common/js/common.ejs %>

    <style>
      .select2-selection__rendered {
          line-height: 31px !important;
      }
      .select2-container .select2-selection--single {
          height: 35px !important;
      }
      .select2-selection__arrow {
          height: 34px !important;
      }

    </style>

    <script>
      const showingContentNum = 5;
      const visiblePages = 5;



      var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
      var options = { //지도를 생성할 때 필요한 기본 옵션
          center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
          level: 15 , //지도의 레벨(확대, 축소 정도)
          maxLevel: 13
      };


      //maker 모음
      var markers = [];
      //맵 객체 제일 중요
      var map;
      //장소 검색 객체
      var ps;
      // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
      var infowindow = new kakao.maps.InfoWindow({zIndex:1});

      //marker img
      var imageSize = new kakao.maps.Size(35, 35); 
      var imageSrc = "/static/img/map/marker/map_marker_red_64.png";
      var myPositionImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 


      var pageSize = 5;

      var initPagingFlag = true;
      
  $(document).ready(function(){


    $("#areaCodeSub").select2({
      width: 'style'
      ,allowClear: true
      ,placeholder :'-- 검색 --'
    }); 

      $.ajax({
            url: "/info/areaCode",        // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: {pageNo:1 ,numOfRows: 100},                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){
                        
							var options = '';
							options += "<option></option>";

							for(var i=0; i<result.items.item.length; i++){

								options += "<option  value='"+ result.items.item[i].code._text + "'>";
								options += result.items.item[i].name._text;	
								options += "</option>";     

							//console.log(result.items.item[i].contentId._text);
							}  

							$("#areaCode").append(options);
            
              //select2 setting
              $('#areaCode').select2({
                width: 'style'
                ,allowClear: true
                ,placeholder :'-- 검색 --'
              });

            }
            ,fail:function(){

            }

        });

        $('#areaCode').on('select2:select', e => {
          
          if($('#areaCode').val() == '') return;
                  
                $.ajax({
                    url: "/info/areaCode",        // 클라이언트가 요청을 보낼 서버의 URL 주소
                    data: {pageNo:1 ,numOfRows: 100, areaCode: $('#areaCode').val() },                // HTTP 요청과 함께 서버로 보낼 데이터
                    type: "POST",                 // HTTP 요청 방식(GET, POST)
                    dataType: "json",

                    success:function(result){
                        $("#areaCodeSub").empty();
                        var options = '';
                        options += "<option></option>";
                        for(var i=0; i<result.items.item.length; i++){

                            options += "<option value='"+ result.items.item[i].code._text + "'>";
                            options += result.items.item[i].name._text;	
                            options += "</option>";     

                        }  

                        $("#areaCodeSub").append(options);

                        $("#areaCodeSub").select2({
                          width: 'style'
                          ,allowClear: true
                          ,placeholder :'-- 검색 --'
                        }); 


                    }
                    ,fail:function(){

                    }

                });	
          
                  
        });

        


        //페이징 토탈 동적처리
      let $pageNation =  $('#pagination-div');
      let doNm ='';
      let sigunguNm = '';

      $("#searchBtn").on('click', e => {


        if(isEmpty($('#areaCode').select2('data')[0].text)){
          doNm = '';
        }else{
          doNm = $('#areaCode').select2('data')[0].text;
        }

        if($('#areaCodeSub').select2('data')[0].text == 'undefined'){
          sigunguNm = '';
        }else if(isEmpty($('#areaCodeSub').select2('data')[0].text)){
          sigunguNm = '';
        }else{
          sigunguNm = $('#areaCodeSub').select2('data')[0].text
        }
        //doNm 도 정보
        //sigunguNm 시군구 정보
        
        $.ajax({
        url: "/campingInfo/campSpotAllcount",        // 클라이언트가 요청을 보낼 서버의 URL 주소
        data: {doNm: doNm ,sigunguNm: sigunguNm},                // HTTP 요청과 함께 서버로 보낼 데이터
        type: "POST",                 // HTTP 요청 방식(GET, POST)
        dataType: "json",

        success:function(result){

          if(result.data.totalRow <= 0){
            alert("조건에 해당하는 내역이 없습니다.");
            return;
          }else{
            let page = Math.ceil(result.data.totalRow / pageSize);
            initPagingFlag = false;
            $pageNation.twbsPagination("changeTotalPages", page , 1);
            initPagingFlag = true;
            redraw(1 , doNm , sigunguNm);
          }

          

          }
          ,fail:function(err){
            alert("현재 진행에 문제가 발생하였습니다. 다시 시도해주세요.");
          }
        });



      });

     
          //총 캠핑장 rowCount 가져오기
      $.ajax({
        url: "/campingInfo/campSpotAllcount",        // 클라이언트가 요청을 보낼 서버의 URL 주소
        //data: {pageNo:1 ,numOfRows: 100},                // HTTP 요청과 함께 서버로 보낼 데이터
        type: "POST",                 // HTTP 요청 방식(GET, POST)
        dataType: "json",

        success:function(result){
          //console.log(Math.ceil(result.data.totalRow / pageSize));

          $pageNation.twbsPagination({
            totalPages: Math.ceil(result.data.totalRow / pageSize),	// 총 페이지 번호 수
            visiblePages: visiblePages,	// 하단에서 한번에 보여지는 페이지 번호 수
            startPage : 1, // 시작시 표시되는 현재 페이지
            initiateStartPageClick: true,	// 플러그인이 시작시 페이지 버튼 클릭 여부 (default : true)
            first : "<<",	// 페이지네이션 버튼중 처음으로 돌아가는 버튼에 쓰여 있는 텍스트
            prev : "<",	// 이전 페이지 버튼에 쓰여있는 텍스트
            next : ">",	// 다음 페이지 버튼에 쓰여있는 텍스트
            last : ">>",	// 페이지네이션 버튼중 마지막으로 가는 버튼에 쓰여있는 텍스트
            nextClass : "page-item next",	// 이전 페이지 CSS class
            prevClass : "page-item prev",	// 다음 페이지 CSS class
            lastClass : "page-item last",	// 마지막 페이지 CSS calss
            firstClass : "page-item first",	// 첫 페이지 CSS class
            pageClass : "page-item",	// 페이지 버튼의 CSS class
            activeClass : "active",	// 클릭된 페이지 버튼의 CSS class
            disabledClass : "disabled",	// 클릭 안된 페이지 버튼의 CSS class
            anchorClass : "page-link",	//버튼 안의 앵커에 대한 CSS class
            
            onPageClick: function (event, page) {
              //클릭 이벤트
              //console.log("클릭" + page);
              //console.log(JSON.stringify(event));
              redraw(page, doNm , sigunguNm);
            }

          });
        }
        ,fail:function(err){
          alert("현재 진행에 문제가 발생하였습니다. 다시 시도해주세요.");
        }
      });

      // page reRenderCall
    function redraw(page){
		

      
      if(isEmpty(doNm)){
        doNm = '';
      }
      if(isEmpty(sigunguNm)){
        sigunguNm = '';
      }

		if(initPagingFlag){
      initPagingFlag = false;
      datas = {};
      datas['pageNumber'] = page;
      datas['visiblePages'] = 5;
      datas['showingContentNum'] = showingContentNum;
      datas['doNm'] = doNm;
      datas['sigunguNm'] = sigunguNm;

      
     $.ajax({
          url : "/campingInfo/campInfoList",
          data: datas,
          type: "POST",     
          dataType:"JSON",
          contextType : "application/json",
          success: function(json){
           
            //$("#pagination-div").twbsPagination("changeTotalPages", json[0].TOTALPAGECNT , page);
            
                      // 여기 아래에 컨텐츠를 만드는 로직 추가
                      // ex) $("content").html(html);
                      $("#listRow").empty();

                      
                      var str = '';
                      for(var i=0; i<json.data.length; i++){
                        
                        str += '<div class="media campListInfo" style="cursor: pointer"  id="'+json.data[i].contentId+'" >';
                        str += '<div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>';

                        if(json.data[i].firstImageUrl == null || json.data[i].firstImageUrl == ""){
                          str += '<img class="d-flex align-self-start" src="" alt="Generic placeholder image" onerror="this.src=\'/static/img/map/marker/travel_icon_512px.png\'" >';    
                        }else{
                          str += '<img class="d-flex align-self-start" src="' + json.data[i].firstImageUrl  + '"alt="Generic placeholder image" onerror="this.src=\'/static/img/map/marker/travel_icon_512px.png\'" >';    
                        }
                        


                        str += '<div class="media-body pl-3">';
                        str += '<div class="title" >'+  json.data[i].facltNm + '<small>'+  json.data[i].induty+'</small></div>';
                        str += '<div class="stats">';

                        //각 항목 미존재시 정보 없는처리 필요
                        let manageSttus = isEmpty(json.data[i].manageSttus) ? '-' : json.data[i].manageSttus;
                        let operPdCl = isEmpty(json.data[i].operPdCl) ? '-' : json.data[i].operPdCl;
                        let operDeCl = isEmpty(json.data[i].operDeCl) ? '-' : json.data[i].operDeCl;
                        let animalCmgCl = isEmpty(json.data[i].animalCmgCl) ? '-' : json.data[i].animalCmgCl;

                        str += '<span><i class="fa fa-fire"></i>'+manageSttus+'</span>';
                        str += '<span><i class="fa fa-hourglass-half"></i>'+operPdCl+'</span>';
                        str += '<span><i class="fa fa-calendar"></i>'+operDeCl+'</span>';
                        str += '<span><i class="fa fa-paw"></i>'+animalCmgCl+'</span>';


                        str += '</div>';  
                        str += '<div class="address">'+  json.data[i].addr1 + '</div>';
                        str += '</div>';
                        str += '</div>';

                      }

                      $("#listRow").append(str);
                      
                      //마커 초기화
                      displayMarkerRemove();
                      //다음지도에 마커 찍기

                     if(json.data.length > 0){

                        //위치 재설정하기위한 객체
                        var bounds = new kakao.maps.LatLngBounds();

                        for (var i=0; i<json.data.length; i++) {
                          let $el = $("#"+json.data[i].contentId);
                          displayPlaceMarker(json.data[i],true,json.data[i].facltNm,json.data[i].addr1,$el);

                          // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                          // LatLngBounds 객체에 좌표를 추가합니다
                          bounds.extend(new kakao.maps.LatLng(json.data[i].mapY, json.data[i].mapX));

                        }
                        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                        map.setBounds(bounds);
                     }
                             
                      


                      // <div class="media">
                      //   <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                      //   <img class="d-flex align-self-start" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Generic placeholder image">
                      //   <div class="media-body pl-3">
                      //       <div class="price">$799,000<small>New York</small></div>
                      //       <div class="stats">
                      //           <span><i class="fa fa-arrows-alt"></i>1678 Sq ft</span>
                      //           <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                      //       </div>
                      //       <div class="address">4062 Walnut Hill Drive Cincinnati</div>
                      //   </div>
                      // </div>


          },
          complete: function(){	// 이부분 중요
            initPagingFlag = true;	//호출 완료되면 flag 값을 사용가능하게 변경
          }
          
        });
      }
	  }


    $(document).on('click','.campListInfo',function(e){

      location.href = '/campingInfo/detail?contentId='+ e.currentTarget.id;    

    });


      // 페이지 버튼 클릭 가능
      //$("#pagination-div").twbsPagination('enable');
      // 페이지 버튼 클릭 불가능
      //$("#pagination-div").twbsPagination('disable');

    // 페이지 네이션 총 페이지 숫자 변경
    // 이 함수가 호출 되면 변경되고 난 후 선택될 페이지 번호에 대한 클릭이벤트가 발생이 되는 점에 유의
    //$("#pagination-div").twbsPagination("changeTotalPages", 총 페이지, 변경되고 난 후 선택될 페이지 번호);


      $('#mainSplitter').jqxSplitter({ width: '100%', height: '100%', panels: [{ size: '30%', min: '30%' }, { size: '70%'}] });




      //map 객체 생성
      map = new kakao.maps.Map(container, options);
      


      var apiGeolocationSuccess = function(position) {
        alert("API geolocation success!\n\nlat = " + position.coords.latitude + "\nlng = " + position.coords.longitude);
      };


    //권한 문제로 실패했을떄 geo Location 불러오기
    var tryAPIGeolocation = function() {
        jQuery.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDCa1LUe1vOczX1hO_iGYgyo8p_jYuGOPU", function(success) {
            apiGeolocationSuccess({coords: {latitude: success.location.lat, longitude: success.location.lng}});
      })
      .fail(function(err) {
        alert("API Geolocation error! \n\n"+err);
      });
    };

    var browserGeolocationSuccess = function(position) {
        //alert("Browser geolocation success!\n\nlat = " + position.coords.latitude + "\nlng = " + position.coords.longitude);
        displayMyMarker(new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude) , true);
        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude));    


        //장소 검색 객체 생성
        ps = new kakao.maps.services.Places(map); 

        // 카테고리로 은행을 검색합니다
        //ps.categorySearch('CE7', placesSearchCB, {useMapBounds:true}); 

        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        // function placesSearchCB (data, status, pagination) {
         
        //     if (status === kakao.maps.services.Status.OK) {
        //         for (var i=0; i<data.length; i++) {
        //           displayPlaceMarker(data[i],true);
        //           console.log(data[i]);
        //         }       
        //     }  
        // }


    };

    var browserGeolocationFail = function(error) {
      switch (error.code) {
        case error.TIMEOUT:
          alert("Browser geolocation error !\n\nTimeout.");
          break;
        case error.PERMISSION_DENIED:
          if(error.message.indexOf("Only secure origins are allowed") == 0) {
            tryAPIGeolocation();
          }
          break;
        case error.POSITION_UNAVAILABLE:
          alert("Browser geolocation error !\n\nPosition unavailable.");
          break;
      }
    };

    var tryGeolocation = function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition( browserGeolocationSuccess, browserGeolocationFail, {maximumAge: 50000, timeout: 20000, enableHighAccuracy: true} );
      }
    };

    tryGeolocation();

    // 지도에 내 위치 마커와 인포윈도우를 표시하는 함수입니다
    function displayMyMarker(locPosition, marker,message) {

     
      if(!isEmpty(marker) && marker == true){
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({  
            map: map, 
            position: locPosition,
            image : myPositionImage
        }); 

      }
        
      if(!isEmpty(message)){
        var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;

        // 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        // 인포윈도우를 마커위에 표시합니다 
        infowindow.open(map, marker);
      }
    }    

    //마커 초기화
    function displayMarkerRemove(){
      for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
      }   
      markers = [];
    }
        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayPlaceMarker(position, marker, message , title , $el) {
      
      if(!isEmpty(marker) && marker == true){
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({  
            map: map, 
            position: new kakao.maps.LatLng(position.mapY, position.mapX)
            //image : myPositionImage
        }); 
        
        marker.setMap(map);
        markers.push(marker);

      }

      if(!isEmpty(message)){
        // 마커와 검색결과 항목에 mouseover 했을때
        // 해당 장소에 인포윈도우에 장소명을 표시합니다
        // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title) {
            kakao.maps.event.addListener(marker, 'mouseover', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            if(!isEmpty($el)){
              $el.mouseover(function () {
                displayInfowindow(marker, title);
              });

              $el.mouseout(function () {
                infowindow.close();
              });
            }

        })(marker, message);

      }




    }
    
    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    
    
  });

  

    </script>


<% include ./common/footer.ejs %>

</body>
