<% include ./common/head.ejs %>
<link rel="stylesheet" type="text/css" href="/static/css/goCamp/sub_layout.css">
<link rel="stylesheet" type="text/css" href="/static/css/goCamp/sub.css">
<link rel="stylesheet" type="text/css" href="/static/css/comment/comment.css">
<body>
    
    <% include ./common/navbar.ejs %>

    <% include ./common/js/common.ejs %>


    <div id="cont_inner">
        <div class="sub_layout layout">
            <article>
                <header class="camp_top_info">
                    <h2 class="skip">캠핑장 정보</h2>
                    <div class="camp_info_box">
                        <div class="img_b" id="main_img">
                            
                        </div>
                        <!--//S:table-->
                        <div class="cont_tb">
                            <table class="table">
                                <caption>캠핑장 기본정보입니다. 주소, 문의처, 캠핑장 환경, 캠핑장 유형, 운영기간, 운영일, 홈페이지, 예약방법, 찾아오시는길로 나뉘어 설명합니다.</caption>
                                <colgroup>
                                    <col style="width: 30%;">
                                    <col style="width: 70%;">
                                </colgroup>
                                <tbody id="detailInfo" >

                                </tbody>
                            </table>
                            <div class="camp_call_tmVer" id="m_call">
                                    
                            </div>
                            <div class="btn_w">
                                <!-- <button type="button" class="btn_bB1 best" onclick="fnCampLike(); return false">추천하기</button> -->
                                <button type="button" class="btn_rB1 zzim" onclick="fnCampBkmk(); return false">찜하기</button>
                                <!-- <button type="button" class="btn_gB1 btn_modify" onclick="location.href='/zboard/createForm.do?lmCode=campRequest&amp;c_no=7664'; return false;">정보수정요청</button> -->
                            </div>
                        </div>
                        <!--//E:table-->

                    </div>

                </header>
            </article>

        </div>

        <!--내용시작-->
        <div id="contents">
            <div class="camp_cont_w">
                <h2 class="skip">캠핑장 이용안내</h2>
                <div class="line_100">
                    <span class="skip">탭영역 다단 라인</span>
                </div>
                <div class="layout">
                    <ul class="camp_tab05">
                        <li><a href="/bsite/camp/info/read.do?c_no=7664&amp;viewType=read01" class="camp_intro">캠핑장 소개</a></li>
                        <!-- <li id="c_guide"><a href="/bsite/camp/info/read.do?c_no=7664&amp;viewType=read02" class="camp_guide">이용안내</a></li>
                        <li id="c_map"><a href="/bsite/camp/info/read.do?c_no=7664&amp;viewType=read03" class="camp_map">위치/주변정보</a></li>
                        <li id="c_review"><a href="/bsite/camp/info/read.do?c_no=7664&amp;viewType=read04" class="camp_review">캠핑&amp;여행후기</a></li>
                        <li id="c_notice"><a href="/bsite/camp/info/read.do?c_no=7664&amp;viewType=read05" class="camp_notice">공지/이벤트</a></li> -->
                    </ul>

                    <div class="camp_intro">
                    <ul id="introImg">
                        
                    </ul>
                    <p class="camp_intro_txt" id ="intro_txt">
                        
                    </p>

                    <h3 class="icon_h3">캠핑장 시설정보</h3>
                    <div class="camp_item_g" id="camp_item_list">
                        
                    </div>
                    <h3 class="icon_h3">기타 주요시설</h3>

                    <section id="table_type03">
                    <h2 class="skip">기타 주요시설 안내 테이블입니다.</h2>
                    <div class="table_w">
                        <table class="table_t4 camp_etc_tb">
                            <caption>
                                <strong>기타 주요시설 안내 테이블</strong>
                                <p>주요시설, 사이트간격, 바닥형태, 편의시설, 캠핑장비대여, 반려동물출입, 화로대로 나뉘어 설명합니다.</p>
                            </caption>

                            <tbody class="t_c" id="etc_info">
                                
                            </tbody>
                        </table>
                    </div>
                    <p class="camp_intro_txt">
                        <span class="info_notice">
                            <span class="info_f_red">반려동물 동반 여부, 부가 시설물, 추가차량</span> 등 원활한 캠핑을 위해 꼭 필요한 사항은 해당 캠핑장에 미리 확인하시기 바랍니다.
                        </span> 
                    </p>
                    </section>




                    <!-- <h3 class="icon_h3 mt_50">
                        펫힐링 달빛동물원 캠핑장</h3>
                    <div class="box_photo">
                        <div id="gallery" style="max-width: 100%; min-width: 150px; overflow: visible; height: auto;" class="ug-gallery-wrapper ug-theme-tiles">
                
                
                    <div class="ug-overlay-disabled" style="display:none"></div>
                    <div class="ug-tiles-wrapper ug-tiletype-columns ug-tiles-rest-mode ug-tiles-transit" style="position: relative; height: 797px;"><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 1; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 4px; top: 0px; opacity: 1;">
                        <div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;">
                            <div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div>
                        </div>
                        <img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_4318rXYwU1QE2X2GOVGAqoTT.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 2; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 243px; top: 0px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_2499kYztejqFUEKZfMYeVHSw.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 3; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 482px; top: 0px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_9542L2aQabHwgHR8aWDuh46k.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 4; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 721px; top: 0px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_60286ZTf8LbYvlKTNUHLT11V.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 5; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 960px; top: 0px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_9683deFF26ev2oXpnRtrL1Yh.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 6; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 4px; top: 160px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_6232twaiwl1ywQNL3bmQr3Mv.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 7; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 243px; top: 160px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_97344TTbWF90vlq0Fj8m6X77.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 8; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 482px; top: 160px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_1970IIP1vsUwO44Tphq8OKuv.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 9; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 721px; top: 160px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_3364AYMrTJtTvVOQQYKQ27TN.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 10; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 960px; top: 160px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_1088ri3A9JdL9kK6JW6nxJAE.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 11; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 4px; top: 320px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_7976NXYRvZl8dvPicDdRzsFQ.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 12; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 243px; top: 320px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_96583WgZIFG7dLisVPJofXmP.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 13; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 482px; top: 320px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_0563UetMKtcYITjiIwzGkfiO.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 14; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 721px; top: 320px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_9229Yf3qZSsFOexAwt21NXg0.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 15; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 960px; top: 320px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_0268DWHX6EfsiIJBD5h4JS57.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 16; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 4px; top: 480px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_0580LZpPEEgumeasvjeI3Qpc.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 17; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 243px; top: 480px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_2830jhgZ4RUHqcvR8cg5uKVW.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 18; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 482px; top: 480px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_42688iEO8Et8PpVgC2MGt2jR.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 19; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 721px; top: 480px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_4213hXKXfQ1fokEkVZE6P8sg.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 20; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 960px; top: 480px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_4247hfagX31B0xfAwv6FOZxY.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 21; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 4px; top: 640px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_6473DvJZcnAtdUF8jLyZqWYq.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 22; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 243px; top: 640px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_6279K7ZUs57alCKwsOW3IccX.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div><div class="ug-thumb-wrapper ug-tile ug-tile-clickable ug-thumb-ratio-set" style="z-index: 23; background-color: rgb(240, 240, 240); display: block; width: 236px; height: 157px; position: absolute; margin: 0px; left: 482px; top: 640px; opacity: 1;"><div class="ug-thumb-overlay" style="background-color: rgba(0, 0, 0, 0.4); width: 236px; height: 157px; left: 0px; top: 0px; position: absolute; margin: 0px; opacity: 0;"><div class="ug-tile-icon ug-button-play ug-icon-zoom" style="position: absolute; margin: 0px; left: 99px; top: 60px;"></div></div><img src="https://gocamping.or.kr/upload/camp/7664/thumb/thumb_1000_1974WG7ex1zDSs50Ty5BEaLu.jpg" alt="펫힐링 달빛동물원 캠핑장" class="ug-thumb-image ug-trans-enabled" style="width: 236px; height: 157px; left: 0px; top: 0px;"></div></div><div class="ug-tiles-preloader ug-preloader-trans" style="opacity: 1; position: absolute; margin: 0px; left: 584px; top: 100px; display: none;"></div></div>
                    </div>
                    <div style="margin-top: -30px; margin-bottom: 30px;">

                    </div> -->
                    <!-- 		<button type="button" class="btn_grey_M">더보기</button> -->
            
                    </div>
                </div>
            </div>
            <div class="camp_cont_w">
                
                <div class="layout">
                    <div style="margin: 40px 0 13px 0; display: flex;">
                        <div>
                            <h3 class="icon_h3" style="margin: 0px; font-weight: bold; padding-left: 0px;">사용자 리뷰</h3>
                        </div>
                
                        <div class='RatingStar' style="padding-left:10px;">
                            <div class='RatingScore'>
                            <div class='outer-star'><div id="conetentAvgRating" class='inner-star'></div></div>
                            </div>
                        </div>

                        <div id="AvgScore" style="padding-left:10px; font-weight: bold;">

                        </div>
                    </div>
                    
                    
                    <div class="line_100_custom" ></div>
                    <div class="wrap" id="review_content" >
                        


                    </div>


                    <div class="line_100_custom" ></div>   
                    <div class="wrap">
                        <form id="reviewform" name="reviewform" class="reviewform" method="post" >
                            <input type="hidden" name="rate" id="rate" value="0"/>
                            <p class="title_star">별점과 리뷰를 남겨주세요.</p>

                            <div class="review_rating row" style="display: none;">
                                <div class="rating">
                                    <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                                    <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
                                    <label for="rating1"></label>
                                    <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
                                    <label for="rating2"></label>
                                    <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" >
                                    <label for="rating3"></label>
                                    <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
                                    <label for="rating4"></label>
                                    <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
                                    <label for="rating5"></label>
                                </div>
                                <div id="score" class=""><label for="ratingScore"></label></div>
                            </div>
                            <div class="row">
                                <div class="col-10" id="comment_text">
                                    <textarea  name="text" rows="2" class="form-control" placeholder="리뷰를 남겨주세요." readonly></textarea>
                                </div>
                                <div class="col-2">
                                    <button type="button" id="saveComment" class="btn btn-primary h-100 mr-2">댓글등록</button>
                                </div>
                            </div>
                        </form>
                    </div>




                </div>
            </div>
            
        </div>


            <!--//내용종료-->
    </div>


    <script>

        

        let isSession = "<%- isAuthenticated %>";
        let userSession = '<%- JSON.stringify(currentUser) %>';
        if(!isEmpty(userSession)){
            userSession = JSON.parse(userSession);
        }
       
        
        $(document).ready(function() {

            
            //$("#gallery").unitegallery();
            //loginUser 정보 있는 확인
          
            let $review = $("#reviewform");
            let $saveCm = $("#saveComment");

            if(!JSON.parse(isSession)){
                $(".review_rating").hide();
                $("#comment_text textarea").attr('placeholder','로그인 후 이용해주세요').attr('readonly',true);

                $saveCm.off('click').on('click',function(e){
                    alert("로그인 후 이용해주세요");
                    location.href="/login";
                });
            }else{
                let $savecmTxt = $("#comment_text textarea");
                $(".review_rating").show();
                $savecmTxt.attr('readonly',false);


                $saveCm.off('click').on('click',(e) => {
                
                    if($savecmTxt.val().length <= 0){
                        alert("리뷰를 입력해주세요");
                        return;
                    }


                    let queryString = $("form[name=reviewform]").serializeArray();

                    let score = queryString.find((element) => {
                        if(element.name == 'text'){
                            return true;
                        }
                    });

                    if(window.confirm("리뷰를 다시겠습니까?")){
                        
                        $.ajax({
                        url: "/comment/saveComment",        // 클라이언트가 요청을 보낼 서버의 URL 주소
                        data: {rating:queryString[0].value , comment:score.value , contentId: getUrlParameter('contentId') },                // HTTP 요청과 함께 서버로 보낼 데이터
                        type: "POST",                 // HTTP 요청 방식(GET, POST)
                        dataType: "json",

                        success:function(result){
                            alert("완료되었습니다.");
                                $("#comment_text textarea").val('');
                                getCommentList();    
                        }
                        ,fail:function(err){
                            console.log(err);
                            alert("저장하는데 문제가 발생했습니다.");
                        }


                        });

                    }else{
                        return;
                    }
                    
                });
            }


            //컨텐츠 상세정보
            
            $.ajax({
                url: "/campingInfo/getDetailCampingInfo",        // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: {contentId : getUrlParameter('contentId')},                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "POST",                 // HTTP 요청 방식(GET, POST)
                dataType: "json",

                success:function(result){
                    
                    //메인이미지
                    $("#main_img").empty();
                    let str ='';
                    let infoBool = false;
                    if(isEmpty(result.data[0].firstImageUrl)){
                        str += '<img src="" alt="Generic placeholder image" onerror="this.src=\'/static/img/map/marker/travel_icon_512px.png\'">';
                    }else{
                        str += '<img src="'+result.data[0].firstImageUrl+'" alt="Generic placeholder image" onerror="this.src=\'/static/img/map/marker/travel_icon_512px.png\'">';
                    }
                    $("#main_img").append(str);

                    $("#detailInfo").empty();
                    $("#m_call").empty();
                    str = '';

                    str += '<tr><th scope="col">주소</th>';
                    str += '<td>'+result.data[0].addr1+'</td></tr>';

                    str += '<tr class="camp_call_pcVer"><th scope="col">문의처</th><td>';
                    str +=  isEmpty(result.data[0].tel)? '' : result.data[0].tel;
                    str += '</td></tr>';




                    str += '<tr><th scope="col">캠핑장 환경</th><td>';
                    str += isEmpty(result.data[0].lctCl)? '' : result.data[0].lctCl;

                    if(isEmpty(result.data[0].lctCl)){
                        str += result.data[0].facltDivNm;
                    }else{
                        str += '  /  ' +  result.data[0].facltDivNm;   
                    }

                    str += '</td></tr>';


                    
                    str += '<tr><th scope="col">운영기간</th><td>';
                    str += isEmpty(result.data[0].operPdCl)? '' : result.data[0].operPdCl;
                    str += '</td></tr>';

                    
                    str += '<tr><th scope="col">운영일</th><td>';
                    str += isEmpty(result.data[0].operDeCl)? '' : result.data[0].operDeCl;
                    str += '</td></tr>';

                    str += '<tr><th scope="col">홈페이지</th><td>';

                    if(!isEmpty(result.data[0].homepage)){
                        let link = result.data[0].homepage;
                        
                        if(result.data[0].homepage.indexOf('https://') < 0 && result.data[0].homepage.indexOf('http://') < 0 ){
                            link =  'http://'+link;
                        }

                        str += '<a href="'+link+'" target="_BLANK" title="새창열림">홈페이지 바로가기</a><i class="ico_link"><span class="skip">새창으로</span></i>';
                    }
                    str += '</td></tr>';

                    str += '<tr><th scope="col">예약방법</th><td>'
                    str += isEmpty(result.data[0].resveCl)? '': result.data[0].resveCl;
                    str += '</td></tr>';


                    $("#detailInfo").append(str); 
                    
                    $("#m_call").empty();

                    str = '';
                    str += '<ul>';
                    str += '<li class="tt">문의처</li><li class="call">';

                    if(!isEmpty(result.data[0].tel)){
                        str += '<a href="tel:'+result.data[0].tel.replace(/\-/g,'')+'" title="전화하기" class="btn_bB1 best">전화하기</a>';
                    }

                    str += '</li></ul>';
                        
                    $("#m_call").append(str);                   
                    
                    str = '';
                    $("#intro_txt").empty();
                    if(nvl(result.data[0].intro,'') == ''){
                        $("#intro_txt").hide();
                    }else{
                        str += '<span>';
                        str += nvl(result.data[0].intro,'');
                        str += '</span>';
                    }
                    
                    //<span class="date_info" id="date_info">최종 정보 수정일 : 2019-08-05</span>
                    $("#intro_txt").append(str);

                    str ='';

                    if(isEmpty(result.data[0].sbrsCl)){
                        $("#camp_item_list").hide();
                    }
                    $("#camp_item_list").empty();
                    str+= '<ul>';
                        let itemList = result.data[0].sbrsCl.split(',');
                        for(let i=0; i<itemList.length; i++){
                            str+='<li>';
                            switch(itemList[i]) {
                            case '전기':  // 
                                str += '<i class="fas fa-bolt">';
                                break;

                            case '무선인터넷':  // 
                                str += '<i class="fas fa-wifi">';
                                break;
                            
                            case '장작판매':
                                str += '<i class="fas fa-tree">';
                                break;
                            case '온수':
                                str += '<i class="fas fa-hot-tub">';  
                                break;
                            default:
                                str += '<i class="fas">';
                                break;
                            }


                            str+='<span>'+itemList[i]+'</span></i>';
                            str+='</li>';
                        }
                    str+= '</ul>';
                    //캠핑장 시설정보 세팅
                    $("#camp_item_list").append(str);


                    // <ul>
                    //     <li><i class="ico_volt"><span>전기</span></i></li>
                    //     <li><i class="ico_wifi"><span>와이파이</span></i></li>
                    //     <li><i class="ico_wood"><span>장작판매</span></i></li>
                    //     <li><i class="ico_hotwater"><span>온수</span></i></li>
                    //     <li><i class="ico_playzone"><span>놀이터</span></i></li>
                    //     <li><i class="ico_ico_sports"><span>운동시설</span></i></li>
                    //     <li><i class="ico_mart"><span>마트.편의점</span></i></li>
                    // </ul>

                    str = '';
                    $("#etc_info").empty();

                        str+= '<tr>';
                        str+= '<th scope="col">주요시설</th>';
                        str+= '<td><ul class="table_ul05">';
                        
                        if(Number(result.data[0].gnrlSiteCo) != 0 ){
                            str+='<li>일반야영장('+result.data[0].gnrlSiteCo+'면)</li>';
                        }
                        if(Number(result.data[0].autoSiteCo) != 0){
                            str+='<li>자동차야영장('+result.data[0].autoSiteCo+'면)</li>';
                        }    
                        if(Number(result.data[0].glampSiteCo) != 0 ){
                            str+='<li>글램핑('+result.data[0].glampSiteCo+'면)</li>';
                        }  
                        if(Number(result.data[0].caravSiteCo) != 0){
                            str+='<li>카라반('+result.data[0].caravSiteCo+'면)</li>';
                        }  
                        if(Number(result.data[0].indvdlCaravSiteCo) != 0){
                            str+='<li>개인 카라반('+result.data[0].indvdlCaravSiteCo+'면)</li>';
                        }  


                        str+= '</ul></td></tr>';

                        if(!isEmpty(result.data[0].sbrsEtc)){
                            str+= '<tr>';
                            str+= '<th scope="col">기타 부대시설</th>';
                            str+= '<td><ul class="table_ul05">';

                            str+='<li>'+result.data[0].sbrsEtc+'</li>';    

                            str+= '</ul></td></tr>';    
                        }
                        

                        
                        str+= '<tr>';
                        str+= '<th scope="col">바닥형태 (단위:면)</th>';
                        str+= '<td><ul class="table_ul05">';
                        
                        infoBool = false;

                        if(Number(result.data[0].siteBottomCl1) != 0 ){
                            str+='<li>잔디('+result.data[0].siteBottomCl1+'면)</li>';
                            infoBool = true;
                        }
                        if(Number(result.data[0].siteBottomCl2) != 0){
                            str+='<li>파쇄석('+result.data[0].siteBottomCl2+'면)</li>';
                            infoBool = true;
                        }    
                        if(Number(result.data[0].siteBottomCl3) != 0 ){
                            str+='<li>테크('+result.data[0].siteBottomCl3+'면)</li>';
                            infoBool = true;
                        }  
                        if(Number(result.data[0].siteBottomCl4) != 0){
                            str+='<li>자갈('+result.data[0].siteBottomCl4+'면)</li>';
                            infoBool = true;
                        }  
                        if(Number(result.data[0].siteBottomCl5) != 0){
                            str+='<li>맨흙('+result.data[0].siteBottomCl5+'면)</li>';
                            infoBool = true;
                        }  

                        if(!infoBool){
                            str+='<li> - </li>';
                            infoBool = false;
                        }

                        str+= '</ul></td></tr>';

                        


                    $("#etc_info").append(str);    

                                // <tr>
                                //         <th scope="col">바닥형태 (단위:면)</th>
                                //         <td>
                                //             <ul class="table_ul05">
                                //                 <li>테크 (14)</li>
                                //                 </ul>
                                //         </td>
                                //     </tr>
                                // <tr>
                                //     <th scope="col">반려동물 출입</th>
                                //     <td class="etc_type">가능</td>
                                // </tr>
                                // <tr>
                                //     <th scope="col">화로대</th>
                                //     <td class="etc_type">개별</td>
                                // </tr>


                }
                ,fail:function(err){
                    alert("현재 진행에 문제가 발생하였습니다. 다시 시도해주세요.");
                }
            });
                

            
            
            
            //imageList
            
            $.ajax({
                url: "/campingInfo/imageList",        // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: {contentId : getUrlParameter('contentId')},                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "POST",                 // HTTP 요청 방식(GET, POST)
                dataType: "json",

                success:function(result){
                    console.log("이미지정보 = " + result);

                    $("#introImg").empty();

                    let str ='';
                    if(result.length < 1){
                        $("#introImg").hide();
                       
                    }else{
                        let length = 3;
                        if(result.length < 3) length = result.length;
                        for(let i=0; i<3; i++){
                            str += '<li class="col_03 img_box">';
                            str += '<img src="'+result[i].imageUrl._text+'" class="imgFit" alt="캠핑장소개 이미지"></li>';
                        }
                    }
                    $("#introImg").append(str);
    
                }
                ,fail:function(err){
                    alert("현재 진행에 문제가 발생하였습니다. 다시 시도해주세요.");
                }
            });
                

        });

        let getCommentList = () => {



            $.ajax({
                url: "/comment/getAvgRating",        // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: {contentId : getUrlParameter('contentId')},                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "POST",                 // HTTP 요청 방식(GET, POST)
                dataType: "json",
                success:function(result){
                    
                    let ratings = Number(result.data[0].averageRating);
                    let totalRating = 5;
                    let ratingPercentage;
                    ratingPercentage = ratings / totalRating * 100;
                    ratingPercentage = ratingPercentage.toFixed(2);
                    console.log(ratingPercentage);
                    $("#conetentAvgRating").css('width',ratingPercentage+'%');
                    
                    $("#AvgScore").empty().append( ratings.toFixed(2) + " 점" );

                },fail:function(err){
                    alert("점수 에러가 발생했습니다.");
                    getCommentList();
                }
            });


            $.ajax({
            url: "/comment/getCommentList",        // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: {contentId : getUrlParameter('contentId')},                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){
                $("#review_content").empty();
                console.log("content == "  + result.data.length);
                let list = '';

                if(result.data.length <= 0){

                    list += '<div class="card" style="margin: 10px;">'
                    list += '<div class="card-body">';    
                    list += '<span style="display: flex; justify-content: space-between;">';
                    list += '<div class="profile_div" >';
                    list += '<div class="profile_inline"><h5 class="card-title">달린 댓글이 없습니다.</h5></div>';
                    list += '</div>';

                    list += '</span>';

                    list += '<p class="card-text">로그인해서 댓글을 달아보세요</p>';


                    list += '</div>';
                    list += '</div>';

                }else{ 

                    let ratings;
                    let totalRating = 5;
                    let ratingPercentage;

                    for(let i=0; i<result.data.length; i++){
                        if(result.data[i].user_id == null) continue;

                        list += '<div class="card" style="margin: 10px;">'
                        list += '<div class="card-body">';    
                        list += '<span style="display: flex; justify-content: space-between;">';
                        list += '<div class="profile_div" >';

                        //사진
                        if(isEmpty(result.data[i].user_profile_url) && isEmpty(result.data[i].user_id) || isEmpty(result.data[i].user_id.kakao )){
                            list += '<div class="profile_inline"><img class="profile" src="/static/img/icons/user_icon_512.png" alt="test"></div>';
                        }else if(!isEmpty(result.data[i].user_profile_url)){
                            //console.log(result.data[i].user_profile_url);
                            list += '<div class="profile_inline"><img class="profile" src="'+result.data[i].user_profile_url+'"></div>';
                        }else{
                            list += '<div class="profile_inline"><img class="profile" src="'+result.data[i].user_id.kakao.kakao_account.profile.thumbnail_image_url+'"></div>';
                        }
                        //네임
                        list += '<div class="profile_inline"><h5 class="card-title" for="nickname">'+result.data[i].user_id.name+'</h5></div>';
                        
                        list += '<div class="profile_inline" style="padding-left: 10px;" >';
                        list += '<div class="RatingStar">';
                        list += '<div class="RatingScore">';

                        ratings = result.data[i].rating;   
                        ratingPercentage = ratings / totalRating * 100;  

                        list += '<div class="outer-star"><div class="inner-star" style="width:'+ratingPercentage+'%"></div></div>'
                        list += '</div></div></div>';


                        list += '</div>';

                        //리뷰 옵션
                        list += '<div id="comment_user_option">';

                        if(!isEmpty(userSession) && userSession._id == result.data[i].user_id._id){
                            list += '<button type="button"  id="'+result.data[i].comment_seq+'" class="delete_comment" ></button>';
                        }

                        list += '</div>';

                        list += '</span>';


                        //리뷰
                        list += '<p class="card-text">'+result.data[i].comment+'</p>';


                        list += '</div>';
                        list += '</div>';

                    }

                }

                $("#review_content").append(list);


            }
            ,fail:function(err){
                alert("리뷰를 불러오는데 문제가 생겼습니다. 다시 로드해주세요");
                getCommentList();
            }

        });

        }         

        
        getCommentList();
        

        //코멘트 각 삭제 권한자
        $(document).on('click','.delete_comment',(e)=>{
            //console.log(e.currentTarget.id);

            if(window.confirm("해당 댓글을 삭제하겠습니까?")){
                $.ajax({
                url: "/comment/deleteComment",        // 클라이언트가 요청을 보낼 서버의 URL 주소
                data: {commentSeq : e.currentTarget.id},                // HTTP 요청과 함께 서버로 보낼 데이터
                type: "POST",                 // HTTP 요청 방식(GET, POST)
                dataType: "json",

                success:function(result){
                    alert("완료되었습니다.");
                    getCommentList();    
                },
                fail:(err) => {
                    alert("삭제하는중 문제가 발생했습니다. 다시 시도해주세요.");
                    getCommentList();
                }
                });
            }

        });



        $("input[name='rating']").hide();
        $(".rate_radio").on('click',function(e){
            //console.log(jQuery(event.currentTarget).is(":checked"));
            $("#score label").text(e.currentTarget.value + ' 점');
            $("#rate").val(e.currentTarget.value);

            for(let i=1; i<=$(".rate_radio").length; i++){
                if(i<=e.target.value){
                    jQuery($("input[name='rating']")[i-1]).prop('checked',true);
                }else{
                    jQuery($("input[name='rating']")[i-1]).prop('checked',false);
                }

            }
            
        });

   





    </script>


</body>

