
<% include ./common/head.ejs %>
<body >
    <div class="container">
			<div class="row">
				<div class="col-sm-4">
					<select required="required" class="form-control" id="areaCode">
					</select>
				</div>
				<div class="col-sm-4">
					<select required="required" class="form-control" id="areaCodeSub">
						<option value="" selected="selected" >-- 검색 --</option>
					</select>
				</div>
				<div class="col-sm-4">
					
				</div>
			</div>

        <h2>캠핑 정보 요청</h2>
        <table border='1'>
            <colgroup>
                <col width='60'>
                <col width='200'>
                <col width='100'>
            </colgroup>
            <thead>
                <tr>
                    <th>정보</th>
                    <th>info</th>
                </tr>
            </thead>
            <tbody>
                <form method="post" action="/info" id="apiInfo">  
                    <tr>
                        <td>PageNo</td>
                        <td><input type="text" name="pageNo" />
                    </tr>
                    <tr>
                        <td>numOfRows</td>
                        <td><input type="text" name="numOfRows" />
                    </tr>
                </form>     
            </tbody>
        </table boader='1'>
        
        
        
        <button  id="apiCall" >요청</button>
        <button  id="xmlCall" >파일 만들기</button>


        <div id="list"> 
            <table border='1'>
                <colgroup>
                    <col width='30%'>
                    <col width='30%'>
                    <col width='/'>
                </colgroup>
                <tbody id="listBody">


                </tbody>

                
            </table>
        </div>
				<div id="img" >
				</div>
                
                

        <div id='jqxWidget'>
            <div id="container" style="float: left">
                <div id="mainSplitter">
                    <div class="splitter-panel" style="background-color:#F5FFF2;"><span style="margin: 5px;">Panel 1</span></div>
                    <div class="splitter-panel" style="background-color:#F5FFF2;"><span style="margin: 5px;">Panel 2</span></div>
                </div>
                <br />
                <div style="font-family: Verdana; font-size: 13;">
                    Events:</div>
                <div id="events" style="border-width: 0px;">
                </div>
            </div>     
        </div>

    </div>    
</body>



<script type='text/javascript'>
    var test = '<%- JSON.stringify(user) %>';
    console.log(test);


    $(document).ready(function(){


            //jqx spliter
            $('#mainSplitter').jqxSplitter({ width: 600, height: 480,  panels: [{ size: 200}] });
            $('#mainSplitter').on('resize', function (event) {
                displayEvent(event);
            });
            $('#mainSplitter').on('expanded', function (event) {
                displayEvent(event);
            });
            $('#mainSplitter').on('collapsed', function (event) {
                displayEvent(event);
            });
            function capitaliseFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
            function displayEvent(event) {
                var eventData = "Event:" + capitaliseFirstLetter(event.type);
                eventData += ", Panel 1: " + event.args.panels[0].size;
                eventData += ", Panel 2: " + event.args.panels[1].size;
                $('#events').jqxPanel('prepend', '<div class="item" style="margin-top: 5px;">' + eventData + '</div>');
            }
            $('#events').jqxPanel({height: '100px', width: '450px' });






        $.ajax({
            url: "/info/areaCode",        // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: {pageNo:1 ,numOfRows: 100},                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){
                        console.log(result);
							var options = '';
							options += "<option value='' selected='selected'>-- 검색 --</option>";

							for(var i=0; i<result.items.item.length; i++){

								options += "<option value='"+ result.items.item[i].code._text + "'>";
								options += result.items.item[i].name._text;	
								options += "</option>";     

							//console.log(result.items.item[i].contentId._text);
							}  

							$("#areaCode").append(options);
            


            }
            ,fail:function(){

            }

        });

				$("#areaCode").on('change',function(e){
					if(this.value == '') return;
					console.log(this.value);
					$.ajax({
            url: "/info/areaCode",        // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: {pageNo:1 ,numOfRows: 100, areaCode: this.value },                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){
							$("#areaCodeSub").html("");
							var options = '';
							options += "<option value='' selected='selected'>-- 검색 --</option>";

							for(var i=0; i<result.items.item.length; i++){

								options += "<option value='"+ result.items.item[i].code._text + "'>";
								options += result.items.item[i].name._text;	
								options += "</option>";     

							//console.log(result.items.item[i].contentId._text);
							}  

							$("#areaCodeSub").append(options);
            


            }
            ,fail:function(){

            }

        	});		
				});

    $("#xmlCall").on('click',function(e){
        var dataset = {} ;

        var ary = $("#apiInfo").serializeArray();

        for(var i=0; i<ary.length; i++){
            dataset[ary[i].name] = ary[i].value;
        }
        console.log(dataset);

        $.ajax({
            url: "/info/WriteXml",                  // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: dataset,                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){
                console.log(result);
            }
            ,fail:function(){

            }

        });


    });








    $("#apiCall").on('click',function(e){
        var dataset = {} ;

        var ary = $("#apiInfo").serializeArray();

        for(var i=0; i<ary.length; i++){
            dataset[ary[i].name] = ary[i].value;
        }
        console.log(dataset);

        $.ajax({
            url: "/info/basedList",                  // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: dataset,                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){

                var list = '';
                console.log(result.items.item);
                list += "<tr>";
                    list += "<th>주소</th>";
                    list += "<th>위도</th>";
                    list += "<th>경도</th>";
                    list += "</tr>";

                for(var i=0; i<result.items.item.length; i++){

                    list += "<tr>";
                    list += "<td id='" + result.items.item[i].contentId._text + "' name='addr1' onclick='detailContent(" + result.items.item[i].contentId._text + ")' >" + result.items.item[i].addr1._text + "</td>";     
                    list += "<td>" + result.items.item[i].mapX._text + "</td>";
                    list += "<td>" + result.items.item[i].mapY._text + "</td>";
                    list += "<tr>";       
                    
                    //console.log(result.items.item[i].contentId._text);
                }  
                    

								// list += "<tr>";
                // list += "<td>반경(단위:m) Max값 20000m=20km</td>";
                // list += '<td colspan = "3" ><input type="text" id="radiusVal" name="radiusVal" />'
								// list +=	"</tr>";

                $("#listBody").html("");   
                $("#listBody").append(list);
                


            }
            ,fail:function(){

            }

        });


    });


	});


	var detailContent = function (contentId) {
		$.ajax({
            url: "/info/imageList",                  // 클라이언트가 요청을 보낼 서버의 URL 주소
            data: {contentId : contentId},                // HTTP 요청과 함께 서버로 보낼 데이터
            type: "POST",                 // HTTP 요청 방식(GET, POST)
            dataType: "json",

            success:function(result){

                 console.log(result);

					
                $("#img").html("");   
                //$("#img").append(list);
                


            }
            ,fail:function(){

            }
		});
	};

  </script>