<!-- <% include ./common/head.ejs %>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" type="text/css" href="/static/css/campingInfo.css">

<body>
<% include ./common/navbar.ejs %>

<div class="location_w"></div>

<div class="detailinfo showstep1">
    <!-- "실제 컨텐츠 표시 영역" -->
    <div class="content">
			<div class="sub_layout layout">
				<article>
						<header class="title_w">
							<h2 class="title">
								공지사항</h2>
						</header>
					</article>
					 
                <!--내용시작-->
                <div id="contents">
                <p>
                    <span>전체게시물 <strong>10</strong></span> 
                </p>

                <div class="board_list">
                    <table class="table_list">
                        <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="board_no"><span class="notice">공지</span>
                                </td>
                                <td class="board_tit"><a href="/zboard/read.do?searchWrd=&amp;pageIndex=1&amp;lmCode=notice&amp;searchCnd=&amp;searchCate1=&amp;pd_pkid=3951"></a>2021년 등록 야영장 지원사업 추진계획 안내</a></td>
                                <td class="board_write">관리자</td>
                            </tr>
                            <tr>
                                <td class="board_no"><span class="notice">공지</span>
                                </td>
                                <td class="board_tit"><a href="https://www.gocamping.or.kr/zboard/read.do?searchWrd=&pageIndex=1&lmCode=notice&searchCnd=&searchCate1=&pd_pkid=3908">2021년 야영장 사업자 안전교육 교재 / 지자체 야영장 업무매뉴얼 첨부</a></td>
                                <td class="board_write">관리자</td>
                            </tr>
                            <tr>
                                <td class="board_no"><span class="notice">공지</span>
                                </td>
                                <td class="board_tit"><a href="https://www.gocamping.or.kr/zboard/read.do?searchWrd=&pageIndex=1&lmCode=notice&searchCnd=&searchCate1=&pd_pkid=3473">생활 속 거리두기 캠페인</a></td>
                                <td class="board_write">관리자</td>
                            </tr>
                            <tr>
                                <td class="board_no"><span class="notice">공지</span>
                                </td>
                                <td class="board_tit"><a href="https://www.gocamping.or.kr/zboard/read.do?searchWrd=&pageIndex=1&lmCode=notice&searchCnd=&searchCate1=&pd_pkid=3198" @click="download">코로나바이러스감염증-19 대응 지침 문서 배포</a></td>
                                <td class="board_write">관리자</td>
                        </tbody>
                    </table>
                </div>
	        </div>
        </div>
    </div>
</div>

<!-- <a href="#" class="btn_open">더보기</a>
<a href="#" class="btn_close hide">감추기</a> -->

<style>
    .location_w {
    width: 100%;
    background: #ebedf2;
    padding: 75px 0;
    }
    
    .board_list {
    position: relative;
    width: 100%;
    clear: both;
    margin-top: 0;
    border-top: 2px solid #474747;
    font-size: 15px;
    border-collapse: collapse;
    }
    .title{
    font-size: 20px;
    color: #474747;
    }

    .showstep1{
        max-height: 300px;
        overflow: hidden;
    }
    .showstep2{
        max-height: 100px;
        overflow: hidden;
    }
    .content{
        height: 1000px;
        width: 100%;
        position: relative;
        height: auto;
        clear: both;
        padding: 10px 0 70px 0;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 70px;
        padding-left: 0px;
        background: #ffff;
    }
    .hide{
        display: none;
    }
</style>
            

</body>

<script>
    document.addEventListener('DOMContentLoaded', function(){ //DOM 생성 후 이벤트 리스너 등록
    //더보기 버튼 이벤트 리스너
    document.querySelector('.btn_open').addEventListener('click', function(e){
        
        let classList = document.querySelector('.detailinfo').classList; // 더보기 프레임의 클래스 정보 얻기
        let contentHeight = document.querySelector('.detailinfo > .content').offsetHeight; //컨텐츠 높이 얻기

        // 2단계이면 전체보기로
        if(classList.contains('showstep2')){
            classList.remove('showstep2');
        }
        // 1단계이면 2단계로
        if(classList.contains('showstep1')){
            classList.remove('showstep1');
            if(contentHeight > 600){
                classList.add('showstep2');
            }else{
                document.querySelector('.btn_open').classList.add('hide');
            }
        }
        //전체보기시 더보기 버튼 감추기 & 감추기 버튼 표시
        if(!classList.contains('showstep1') && !classList.contains('showstep2')){
            e.target.classList.add('hide');
            document.querySelector('.btn_close').classList.remove('hide');
            
        }
        
    });
});

// 감추기 버튼 이벤트 리스너
document.querySelector('.btn_close').addEventListener('click', function(e){
    e.target.classList.add('hide');
    document.querySelector('.btn_open').classList.remove('hide'); // 더보기 버튼 감춤
    document.querySelector('.detailinfo').classList.add('showstep1'); // 초기 감춤 상태로 복귀
});

//컨텐츠 로딩 완료 후 높이 기준으로 클래스 재처리
window.addEventListener('load', function(){
    let contentHeight = document.querySelector('.detailinfo > .content').offsetHeight; //컨텐츠 높이 얻기
    if(contentHeight <= 300){
        document.querySelector('.detailinfo').classList.remove('showstep1'); // 초기값보다 작으면 전체 컨텐츠 표시
        document.querySelector('.btn_open').classList.add('hide'); // 버튼 감춤
    }
});


</script>