<% include ../common/head.ejs %>

  <body>

          <p>마이 페이지</p>
            
                <form class="user-form" action="/users" method="post">
                  <fieldset disabled>
                    <div class="form-group row">
                      <label for="name" class="col-sm-3 col-form-label">이름</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-3 col-form-label">이메일</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="email" name="email" value="<%= user.email %>">
                      </div>
                    </div>
                  </fieldset>
                </form>
                <div>
                  <a class="btn btn-primary" href="/users/<%= user.username %>/edit">비밀번호 수정</a>
                  <form action="/users/<%= user.username %>?_method=delete" method="post" class="d-inline">
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="confirm('정말로 회원 탈퇴 하시겠습니까?')?this.parentElement.submit():null;">회원탈퇴</a>
                  </form>
                  <a class="btn btn-primary" href="/campingInfo">뒤로</a>
                </div>
              </div>

         
          
    </div>



