<% include ../common/head.ejs %>
<link rel="stylesheet" type="text/css" href="/static/css/login.css">  
  <body>

      <form action="/users" method="post" class="form-signup">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">회원가입</h1>
        <input type="text" id="username" name="username" value="" placeholder="아이디" class="form-control">
        <input type="text" id="name" name="name" value="" placeholder="이름" class="form-control">
        <input type="text" id="email" name="email" value="" placeholder="이메일"class="form-control">
        <input type="password" id="password" name="password" value="" placeholder="비밀번호" class="form-control">
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="비밀번호 확인" value="" class="form-control">

        <button class="btn btn-primary btn-block" type="submit" >회원가입</button>
        <a href="http://localhost:3000/campingInfo" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
      </form>
    
  </body>
  

