<% include ../common/head.ejs %>

  <body>
    
          <p>마이 페이지</p>
            
        
                <form class="user-form" action="/user" method="post">
                  <fieldset disabled>
                    <div class="form-group row">
                      <label for="name" class="col-sm-3 col-form-label">이름</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="name" name="name" value="<%= currentUser.name %>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-3 col-form-label">이메일</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" id="email" name="email" value="<%= currentUser.kakao.kakao_account.email %>">
                      </div>
                    </div>
                  </fieldset>
                </form>
                <div>
                  <form action="/user/<%= currentUser.name %>?_method=delete" method="post" class="d-inline">
                    <a class="btn btn-primary" href="javascript:void(0)" onclick="confirm('정말로 회원 탈퇴 하시겠습니까?')?this.parentElement.submit():null;">회원탈퇴</a>
                  </form>
                </div>
                <a class="btn btn-primary" href="/campingInfo">뒤로</a>
                <!-- <div>
                    <a class="btn btn-primary" href="/post/<%= currentUser.name %>" >내가 쓴 리뷰 보기</a> 
                </div> -->
            
   
  
  </body>




