@charset "utf-8";

#wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 0;
}
/**********************************************************************************************************************************************************************/
/* 투명레이어 ************************************************************************************************************************************************************/
.transBg {
  overflow: hidden;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 10000px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/trans_b70.png')
    repeat;
  border-top: 1px solid #e5e5e5;
  z-index: 980;
}
.trans1 {
  top: 108px;
}
.trans2 {
  top: 151px;
}
/* == CONTENT : 1000 이하 == */
@media all and (max-width: 1000px) {
  .trans1 {
    top: 91px;
  }
  .trans2 {
    top: 134px;
  }
}

/**********************************************************************************************************************************************************************/
/* 빠른서비스 ************************************************************************************************************************************************************/
#lnb_hm {
  position: relative;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
}
#lnb_hm .layout {
  height: 36px;
}
/* 1.사이트 위치 */
.siteLink {
  position: relative;
  display: inline-block;
}
.siteLink li {
  float: left;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.siteLink li.home {
  background: #fff
    url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png') no-repeat
    16px 11px;
  border-left: 1px solid #e5e5e5;
  border: 1px solid #e5e5e5;
  width: 47px;
}
.siteLink li.home a {
  font-size: 0;
}
.siteLink li.kto {
  width: 108px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/line_h11.gif')
    no-repeat right 13px;
}
.siteLink li.visit_ko {
  width: 133px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/line_h11.gif')
    no-repeat right 13px;
}
.siteLink li.duru {
  width: 83px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/line_h11.gif')
    no-repeat left 13px;
}
.siteLink li a {
  display: block;
  color: #333;
  font-size: 13px;
}
.siteLink li a:hover {
  text-decoration: none !important;
}
/* 2.유틸메뉴 */
.utilMenu {
  position: absolute;
  top: 0px;
  right: 0px;
}
.utilMenu .list {
  position: relative;
}
.utilMenu .list > li {
  float: left;
  background: url('https://www.gocamping.or.kr/img/2018/layout/line_h11.gif')
    no-repeat left 13px;
}
.utilMenu .list > li:first-child {
  background: none;
}
.utilMenu .list > li > a {
  display: block;
  margin: 0 4px;
  padding: 0 14px;
  color: #333;
  text-decoration: none;
  font-size: 12px;
}
.utilMenu .list > li.sitemap > a {
  padding-right: 0;
}

/* == CONTENT : 481 ~ 1000 == */
@media all and (max-width: 1000px) {
  #lnb_hm {
    position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #30333a;
  }
  .siteLink {
    position: relative;
    display: block;
  }
  .siteLink li {
    float: left;
    width: 25%;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }
  .siteLink li.home {
    display: none;
  }
  .siteLink li.kto {
    width: 34%;
    background: #30333a;
  }
  .siteLink li.visit_ko {
    width: 33%;
    background: #30333a;
  }
  .siteLink li.duru {
    width: 33%;
    background: #30333a;
  }
  .siteLink li a {
    display: block;
    color: #fff;
    font-size: 0.85em;
    font-weight: bold;
    background: url('https://www.gocamping.or.kr/img/2018/layout/line_h11.gif')
      repeat-y right top;
  }
  .siteLink li.on a,
  .siteLink li.tour a {
    background: none !important;
  }
  .utilMenu {
    display: none;
  }
}
/* == CONTENT : 480 이하 == */
@media all and (max-width: 480px) {
  .siteLink li a {
    display: block;
    color: #fff;
    font-weight: bold;
    background: url('https://www.gocamping.or.kr/img/2018/layout/line_h11.gif')
      repeat-y right top;
  }
}

/**********************************************************************************************************************************************************************/
/* header ************************************************************************************************************************************************************/

#header {
  position: relative;
  width: 100%;
  height: 149px;
  background: #fff
    url('https://www.gocamping.or.kr/img/2018/layout/line_hm184.gif') repeat-x;
  z-index: 990;
}
#header_in {
  position: relative;
  width: 100%;
  height: 149px;
  background: #fff
    url('https://www.gocamping.or.kr/img/2018/layout/line_hm184.gif') repeat-x;
  z-index: 990;
}
/* =================== 1.메인_로고/SNS/검색영역 =================== */

.logoarea {
  position: relative;
  width: 100%;
  height: 84px;
}
#logo {
  position: absolute;
  top: 23px;
  left: 45%;
  margin-left: -103px;
  width: 320px;
  height: 40px;
}
#logo a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  /* height: 40px; */
  padding-left: 46px;
  background: url('/static/img/brand/camp_leaf_512.png') no-repeat;
  background-size: contain;
}

#logo a:hover {
  text-decoration: none;
}

.sns_list {
  position: relative;
  display: inline-block;
  margin-top: 26px;
}
.sns_list li {
  float: left;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.sns_list li a {
  font-size: 0;
  width: 38px;
  height: 38px;
  display: block;
}
.sns_list li.sns00 {
  background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link.gif')
    no-repeat 0 0;
  margin-right: 5px;
}
.sns_list li.sns01 {
  background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link.gif')
    no-repeat -39px 0;
  margin-right: 5px;
}
.sns_list li.sns02 {
  background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link.gif')
    no-repeat -78px 0;
  margin-right: 5px;
}
.sns_list li.sns03 {
  background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link.gif')
    no-repeat -117px 0;
  margin-right: 5px;
}

.m_search {
  position: absolute;
  top: 23px;
  right: 0;
  background: #f0f0f0;
  width: 232px;
  height: 38px;
}
.m_search_in {
  width: 175px;
  height: 38px;
  border: 0;
  background: #f0f0f0;
}
.search_btn {
  position: absolute;
  top: 3px;
  right: 15px;
  width: 20px;
  height: 20px;
}
.search_btn input {
  background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
    no-repeat 0 -31px;
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 0;
  margin-top: 5px;
}
.search_btn input value {
  color: #fff;
}

.h_m_mn {
  display: none;
}
.tm_gnb_w {
  display: none;
}
.layer_open_search {
  display: none;
}
.sm_wrap {
  display: none;
}
/* == CONTENT : 481 ~ 1000 == */
@media all and (max-width: 1000px) {
  #header {
    position: relative;
    width: 100%;
    height: 85px;
    background: #fff;
    z-index: 990;
  }
  #header_in {
    position: relative;
    width: 100%;
    height: 85px;
    background: #fff;
    z-index: 990;
  }
  #logo {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -70px;
    width: 160px;
    height: 27px;
    z-index: 9;
  }
  #logo a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 160px;
    height: 27px;
    background: url('/static/img/brand/camp_leaf_512.png') no-repeat;
    background-size: contain;
    font-size: 21px;
    font-weight: bold;
    padding-left: 31px;
  }
  .m_search {
    display: none;
  }
  .sns_list {
    display: none;
  }

  .h_m_mn {
    display: block;
    float: left;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .h_m_mn a {
    display: block;
    width: 46px;
    height: 46px;
    float: left;
    font-size: 0;
    line-height: 0;
  }
  .h_m_mn .btn_lnb {
    width: 32px;
    height: 27px;
    background: url('https://www.gocamping.or.kr/img/2018/layout/hm_mn_ico3.png')
      no-repeat 0 0;
    left: 0;
  }
  .h_m_mn .btn_search {
    width: 28px;
    height: 27px;
    background: url('https://www.gocamping.or.kr/img/2018/layout/hm_mn_ico3.png')
      no-repeat -42px 0;
    margin: 0;
    float: right;
  }

  /*오픈레이어_검색*/
  .layer_open_search {
    display: block;
    width: 100%;
    padding: 15px 0;
    height: 50px;
    background: #fefefe;
    top: 0;
    position: absolute;
    z-index: 99;
  }
  .layer_open_search .tt {
    display: block;
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
    color: #000;
    letter-spacing: -0.08em;
  }
  .layer_open_search .box_search {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 130;
    height: 50px;
    padding: 0 80px 0 0;
    background-color: #fff;
    border-bottom: 2px solid #000;
    margin: 0 10px;
  }
  .layer_open_search .btn_search {
    position: absolute;
    right: 43px;
    top: 15px;
    width: 30px;
    height: 29px;
  }
  .layer_open_search .camp_search {
    width: 19px;
    height: 19px;
    margin: 5px 6px 15px;
    background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
      no-repeat -108px -32px;
  }
  .layer_open_search .icon_all {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
  }
  .layer_open_search .campSearch_op {
    display: block;
    width: 99%;
    height: 26px;
    padding: 13px 1% 11px;
    border: none !important;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    outline: none;
    box-sizing: content-box;
    background: #fff;
    border-radius: 10px;
  }

  .layer_open_search .btn_delete {
    position: absolute;
    right: 5px;
    top: 15px;
    width: 28px;
    height: 28px;
  }
  .layer_open_search .camp_search_close {
    width: 28px;
    height: 28px;
    background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
      no-repeat -167px -144px;
    font-size: 0;
    display: block;
  }
}

/* == CONTENT : 480 이하 == */
@media all and (max-width: 480px) {
  #logo_w .flag,
  #site_logo a strong.chief_name {
    display: none;
  }
}
/* == 사이트명 길 경우만 400 이하 적용 == */
@media all and (max-width: 400px) {
  #header .resize {
    top: 25px !important;
  }
  #header .resize a {
    padding: 3px 0 0 56px !important;
    background: url('https://www.gocamping.or.kr/img/2018/layout/logo_ico.png')
      no-repeat left -509px !important;
    font-size: 24px !important;
  }
}

/* ==================== 2.대메뉴 ==================== */
.fixinner {
  top: 0;
  border-top: 0 !important;
  z-index: 99;
  width: 100% !important;
}
.gnb_in {
  display: block;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #dedede;
  background: #fff;
  position: absolute;
  top: 85px;
}
#gnb .top1menu {
  position: relative;
  float: left;
  z-index: 990;
  width: 100%;
}
#gnb .top1menu > li {
  position: relative;
  float: left;
  width: 33%;
  text-align: center;
  line-height: 64px;
}
#gnb .top1menu > li.depth1 > a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #202020;
  line-height: 24px;
  z-index: 991;
}
#gnb .top1menu > li.on > a,
#gnb .top1menu > li.depth1 > a:hover {
  padding-bottom: 34px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/top1menu_on.png')
    no-repeat center bottom;
  color: #ef760a;
}
#gnb .top1menu > li > .top2menu {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: 149px;
  padding-top: 40px;
  text-align: center;
  z-index: 990;
  border-left: 1px solid #dedede;
}
#gnb .top1menu > li:last-child > .top2menu {
  border-right: 1px solid #dedede;
}
#gnb .top1menu > li > .top2menu > li {
  width: 100%;
  padding: 5px 0;
  line-height: 27px;
}
#gnb .top1menu > li > .top2menu > li > a {
  display: inline-block;
  background: url('https://www.gocamping.or.kr/img/2018/layout/top2menu.gif')
    no-repeat left 9px;
  font-size: 15px;
  color: #5d5d5d;
  line-height: 17px;
}
#gnb .top1menu > li > .top2menu > li > a:hover {
  background: url('https://www.gocamping.or.kr/img/2018/layout/top2menu_on.gif')
    no-repeat left 9px;
  color: #ef760a;
}

.top2menu_in {
  padding-top: 80px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 215px;
}
.top2menu_in li:nth-child(1) {
  width: 217px;
  height: 52px;
  color: #fff;
  line-height: 52px;
}
.top2menu_in li:nth-child(1) > a {
  color: #fff;
  text-decoration: none;
  background: url('https://www.gocamping.or.kr/img/2018/layout/mn_org01.png')
    no-repeat;
  display: block;
  width: 217px;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
}
.top2menu_in li:nth-child(2) {
  width: 217px;
  height: 52px;
  color: #fff;
  line-height: 52px;
  margin-top: 15px;
}
.top2menu_in li:nth-child(2) > a {
  color: #fa8d00;
  text-decoration: none;
  background: url('https://www.gocamping.or.kr/img/2018/layout/mn_org02.png')
    no-repeat;
  display: block;
  width: 217px;
  height: 52px;
  font-size: 16px;
  font-weight: bold;
}

.wrapBg {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  margin-left: 0;
  width: 100%;
  height: 150px;
  background: #fff
    /* url('https://www.gocamping.or.kr/img/2018/layout/sm_bg.png') */ no-repeat
    center top;
  z-index: 11;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.bg_black {
  display: none;
  position: fixed;
  top: 524px;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: -100;
}

/**********************************************************************************************************************************************************************/
/* 태블릿, 모바일 메뉴 활성화 ********************************************************************************************************************************************/
@media all and (max-width: 1000px) {
  .tm_gnb_w {
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  #tm_gnb {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #494951;
    width: 310px;
    height: 100%;
    z-index: 1010;
  }
  .tm_gnb_w .tm_nav_bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 100;
  }

  #tm_gnb00 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #f6f7f7;
    padding-bottom: 15px;
  }
  #tm_gnb00 ul li {
    float: left;
    width: 50%;
    float: left;
    height: auto;
  }
  #tm_gnb00 ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 90%;
    background: #c9c9c9;
    margin-top: 13px;
    color: #fff;
  }
  #tm_gnb00 ul li.tm_oprtr {
    text-align: center;
  }
  #tm_gnb00 ul li.tm_oprtr2 {
    text-align: center;
  }
  #tm_gnb00 ul li.tm_oprtr3 {
    width: 50%;
    display: block;
    text-align: center;
  }
  #tm_gnb00 ul li.tm_oprtr3 a {
    width: 90%;
  }

  #tm_gnb01 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #f0ac09;
    padding-bottom: 15px;
  }
  #tm_gnb01 ul li {
    float: left;
    width: 50%;
    float: left;
    height: auto;
  }
  #tm_gnb01 ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 90%;
    background: #d9930b;
    margin-top: 13px;
    color: #fff;
  }
  #tm_gnb01 ul li.tm_sitemap {
    text-align: center;
  }
  #tm_gnb01 ul li.tm_login {
    text-align: center;
  }

  #tm_gnb02 {
    width: 100%;
    height: 38px;
    padding: 15px 0;
    background: #f6f7f7;
    border-top: 1px solid #dedede;
  }
  #tm_gnb02 ul {
    text-align: center;
  }
  #tm_gnb02 ul li {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 3px;
  }
  #tm_gnb02 ul li.tm_home a {
    background: url('/img/2018/layout/sns_link2.png') no-repeat 0 0;
    display: block;
    width: 38px;
    height: 38px;
  }
  #tm_gnb02 ul li.tm_sns00 a {
    background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link.gif')
      no-repeat 0 0;
    display: block;
    width: 38px;
    height: 38px;
  }
  #tm_gnb02 ul li.tm_sns01 a {
    background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link.gif')
      no-repeat -39px 0;
    display: block;
    width: 38px;
    height: 38px;
  }
  #tm_gnb02 ul li.tm_sns02 a {
    background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link2.png')
      no-repeat -116px 0;
    display: block;
    width: 39px;
    height: 38px;
  }
  #tm_gnb02 ul li.tm_sns03 a {
    background: url('https://www.gocamping.or.kr/img/2018/layout/sns_link2.png')
      no-repeat -155px 0;
    display: block;
    width: 39px;
    height: 38px;
  }

  #tm_gnb03 {
    width: 100%;
    background: #fff;
    position: relative;
    border-top: 1px solid #dedede;
  }
  #tm_gnb03 .tm_topMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1010;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m li {
    position: relative;
    display: block;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m > a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25px;
    padding: 15px 0;
    line-height: 23px;
    border-bottom: 1px solid #63636a;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    background: #404048
      url('https://www.gocamping.or.kr/img/2018/layout/more2.png') no-repeat
      right 20px center;
    color: #fff !important;
    text-align: left;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m > a > span {
    display: inline-block;
    padding-left: 20px;
  }

  #tm_gnb03 .tm_topMenu > .tm_top1m > a.on {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25px;
    padding: 15px 0;
    line-height: 23px;
    border-bottom: 1px solid #63636a;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    background: #404048
      url('https://www.gocamping.or.kr/img/2018/layout/minus2.png') no-repeat
      right 20px center;
    color: #fff !important;
    text-align: left;
  }

  #tm_gnb03 .tm_topMenu > .tm_top1m > .tm_top2m {
    float: left;
    width: 100%;
    background: #fff;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m > .tm_top2m > li {
    font-size: 17px;
    color: #000;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m > .tm_top2m > li > a {
    min-height: 34px;
    line-height: 34px;
    padding: 10px 24px 10px 20px;
    background: url('https://www.gocamping.or.kr/img/2018/layout/arr2.png')
      no-repeat right 20px center;
    border-bottom: 1px solid #e5e5e5;
    color: #2b2b2b;
    font-size: 16px;
    display: block;
    text-decoration: none;
  }

  #tm_gnb03 .tm_topMenu > .tm_top1m > .tm_top2m > li > .tm_top3m {
    padding: 0 9px;
    background: #f0f1f2;
    z-index: 99999;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m > .tm_top2m > li > .tm_top3m > li {
    padding: 5px 25px;
    border-bottom: 1px solid #dce2e6;
  }
  #tm_gnb03
    .tm_topMenu
    > .tm_top1m
    > .tm_top2m
    > li
    > .tm_top3m
    > li:last-child {
    border-bottom: 0 !important;
  }
  #tm_gnb03 .tm_topMenu > .tm_top1m > .tm_top2m > li > .tm_top3m > li > a {
    text-decoration: none;
    display: block;
    padding: 4px 0 4px 8px;
    background: url('https://www.gocamping.or.kr/img/2018/sub/icon_ul04.gif')
      no-repeat left 14px;
    color: #3a3a3a !important;
    line-height: 22px;
    font-size: 13px;
  }

  .tm_gnb_close {
    position: absolute;
    top: 0;
    left: 310px;
    width: 43px;
    height: 43px;
    background: #000
      url('https://www.gocamping.or.kr/img/2018/layout/tm_close.png') no-repeat
      0 0;
    z-index: 999;
  }
  #gnb {
    display: none;
  }
}

/**********************************************************************************************************************************************************************/
/* 배너모음 ************************************************************************************************************************************************************/

/**********************************************************************************************************************************************************************/
/* footer ************************************************************************************************************************************************************/
#footer {
  clear: both;
  position: relative;
  width: 100%;
  height: auto;
}
/* 1.하단정보 */
.optr_link {
  display: none;
}
.f_info_w {
  position: relative;
  width: 100%;
  float: left;
  background: #2e2f31;
  border-bottom: 1px solid #4a4a4c;
  min-height: 90px;
  z-index: 10;
}
.f_info_w .f_logo {
  position: absolute;
  top: 27px;
  left: 0;
  width: 209px;
  height: 42px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
    no-repeat 0 -368px;
}
.f_menu {
  padding: 35px 0 12px 247px;
}
.f_menu li {
  display: inline-block;
  background: url('https://www.gocamping.or.kr/img/2018/layout/line_h13.gif')
    no-repeat left 8px;
}
.f_menu li:first-child {
  background: none;
}
.f_menu li a {
  display: inline-block;
  margin: 0 18px 0 18px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
.f_menu li.privacy a {
  color: #ff9b2f !important;
}

.f_info_w .f_sns_w {
  position: absolute;
  right: 0;
  top: 36px;
}
.f_info_w .f_sns_w li {
  float: left;
  height: 21px;
  margin: 0 0 0 34px;
}
.f_info_w .f_sns_w li:first-child {
  margin: 0 0 0 0;
}
.f_info_w .f_sns_w li a {
  font-size: 0;
  line-height: 0;
  float: left;
}
.f_info_w .f_sns_w li.sns00 a {
  width: 22px;
  height: 21px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
    no-repeat -95px -418px;
}
.f_info_w .f_sns_w li.sns01 a {
  width: 10px;
  height: 21px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
    no-repeat 0 -418px;
}
.f_info_w .f_sns_w li.sns02 a {
  width: 13px;
  height: 21px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
    no-repeat -16px -418px;
}
.f_info_w .f_sns_w li.sns03 a {
  width: 21px;
  height: 21px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
    no-repeat -33px -418px;
}

/* 2.주소 및 사이트링크 */
.f_link_w {
  position: relative;
  width: 100%;
  float: left;
  background: #2e2f31;
  padding: 30px 0;
}
.f_addr {
  font-size: 13px;
  line-height: 22px;
  color: #c0c0c0;
  padding: 0 450px 0 0;
}
.f_addr .f_mail {
  font-size: 13px;
  line-height: 22px;
  color: #c0c0c0 !important;
  text-decoration: none;
  letter-spacing: 0;
}
.f_addr div {
  float: left;
  margin-right: 22px;
  display: inline-block;
}
.f_link {
  float: left;
  position: absolute;
  right: 0;
  top: 0;
  background: #393a3b;
}
.f_link .camping_login_btn {
  background: #222324;
  text-align: center;
  margin-right: 8px;
  float: left;
}
.f_link .camping_login_btn a {
  color: #d0d0d0;
  display: block;
  padding: 0 20px;
  line-height: 38px;
  text-decoration: none;
}
.f_link .dropdown {
  float: left;
  background: #393a3b;
}
.f_link button {
  font-size: 13px;
  color: #d0d0d0;
  display: block;
  width: 170px;
  line-height: 38px;
  height: 38px;
  text-align: left;
  padding: 0 20px;
  background: url('https://www.gocamping.or.kr/img/2018/main/icon_moreWs1.png')
    no-repeat 90% center;
}

.f_link2 {
  position: absolute;
  right: 180px;
  top: 0;
  background: #393a3b;
}
.f_link2 button {
  font-size: 13px;
  color: #d0d0d0;
  display: block;
  width: 140px;
  line-height: 38px;
  height: 38px;
  text-align: center;
  padding: 0 20px;
}
.copyright {
  clear: both;
  letter-spacing: 0px;
}

.btn_top {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 57px;
  right: -80px;
  cursor: pointer;
  background: url('https://www.gocamping.or.kr/img/2018/main/btn_top.png')
    no-repeat 0 0;
  font-size: 0;
  line-height: 0;
}

/* == CONTENT : 1000이하 == */
@media all and (max-width: 1024px) {
  .f_info_w {
    position: relative;
    width: 100%;
    float: left;
    background: #2e2f31;
    border-bottom: 1px solid #4a4a4c;
    min-height: 90px;
    z-index: 10;
  }
  .f_info_w .f_logo {
    position: absolute;
    top: 27px;
    left: 50%;
    margin-left: -104px;
    width: 209px;
    height: 42px;
    background: url('https://www.gocamping.or.kr/img/2018/layout/m_icon_all.png')
      no-repeat 0 -368px;
    border-bottom: 1px solid #4a4a4c;
    padding-bottom: 8px;
  }
  .f_menu {
    padding: 120px 20px 12px 20px;
    display: block;
    text-align: center;
  }
  .f_menu li {
    display: inline-block;
    background: none;
  }
  .f_menu li:first-child {
    background: none;
  }
  .f_menu li a {
    display: inline-block;
    margin: 0 5px;
    font-size: 0.95em;
    color: #fff;
    text-decoration: none;
  }
  .f_menu li.privacy a {
    color: #ff9b2f !important;
  }
  .f_info_w .f_sns_w {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    right: 0;
    top: 90px;
  }

  /*주소 및 사이트링크*/
  .f_link_w {
    position: relative;
    width: 100%;
    float: left;
    background: #2e2f31;
    padding: 30px 0;
  }
  .f_addr {
    font-size: 1em;
    color: #c0c0c0;
    padding: 60px 0 0 0;
    text-align: center;
    line-height: 1.5em;
  }
  .f_addr div {
    float: left;
    margin-right: 22px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .f_link {
    width: 50%;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
  }
  .f_link .camping_login_btn {
    background: #222324;
    text-align: center;
    margin-right: 8px;
    float: left;
    width: calc(50% - 8px);
  }
  .f_link .camping_login_btn a {
    color: #d0d0d0;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
  }
  .f_link .dropdown {
    float: left;
    background: #393a3b;
    width: 100%;
  }
  .f_link button {
    color: #d0d0d0;
    display: block;
    width: 100%;
    line-height: 38px;
    height: 38px;
    text-align: left;
    padding: 0 20px;
    background: url('https://www.gocamping.or.kr/img/2018/main/icon_moreWs1.png')
      no-repeat 97% center;
  }

  .f_link2 {
    position: absolute;
    right: 0;
    left: 0;
    width: 49.5%;
    top: 0;
    background: #393a3b;
  }
  .f_link2 button {
    font-size: 13px;
    color: #d0d0d0;
    display: block;
    width: 100%;
    line-height: 38px;
    height: 38px;
    text-align: left;
    padding: 0 20px;
    display: block;
  }

  .btn_top {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 30px;
    right: 10px;
    cursor: pointer;
    background: url('https://www.gocamping.or.kr/img/2018/main/btn_top_tm.png')
      no-repeat 0 0;
    font-size: 0;
    line-height: 0;
  }
}

@media all and (max-width: 740px) {
  .f_link_w {
    position: relative;
    width: 100%;
    float: left;
    background: #2e2f31;
    padding: 30px 0;
  }
  .f_addr {
    font-size: 1em;
    color: #c0c0c0;
    padding: 110px 0 0 0;
    text-align: center;
    line-height: 1.5em;
  }

  .f_link {
    width: 90%;
    float: left;
    position: absolute;
    top: 0;
    right: 5%;
  }
  .f_link .camping_login_btn {
    background: #222324;
    text-align: center;
    margin-right: 0;
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }
  .f_link .camping_login_btn a {
    color: #d0d0d0;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
  }
  .f_link .dropdown {
    float: left;
    background: #393a3b;
    width: 100%;
  }
  .f_link button {
    font-size: 15px;
    color: #d0d0d0;
    display: block;
    width: 100%;
    line-height: 38px;
    height: 38px;
    text-align: center;
    padding: 0 20px;
    background: url('https://www.gocamping.or.kr/img/2018/main/icon_moreWs1.png')
      no-repeat 97% center;
  }

  .f_link2 {
    position: absolute;
    right: 0;
    left: 0;
    width: 90%;
    top: 50px;
    background: #393a3b;
    margin: 0 auto;
  }
  .f_link2 button {
    font-size: 13px;
    color: #d0d0d0;
    display: block;
    width: 100%;
    line-height: 38px;
    height: 38px;
    text-align: center;
    padding: 0 20px;
    display: block;
  }
}
/* == CONTENT : 480 이하 == */
@media all and (max-width: 480px) {
  .f_link_w {
    position: relative;
    width: 100%;
    float: left;
    background: #2e2f31;
    padding: 30px 0;
  }
  .f_addr {
    font-size: 1em;
    color: #c0c0c0;
    padding: 110px 0 0 0;
    text-align: center;
    line-height: 1.5em;
  }
  .optr_link {
    display: block;
    width: 90%;
    background: #fff;
    line-height: 38px;
    height: 38px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 0;
    background: #393a3b;
    color: #d0d0d0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #545454;
    font-size: 15px;
  }

  .f_link {
    width: 90%;
    float: left;
    position: absolute;
    top: 0;
    right: 5%;
  }
  .f_link .camping_login_btn {
    background: #222324;
    text-align: center;
    margin-right: 0;
    float: left;
    width: 100%;
    margin-bottom: 5px;
  }
  .f_link .camping_login_btn a {
    color: #d0d0d0;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
  }
  .f_link .dropdown {
    float: left;
    background: #393a3b;
    width: 100%;
  }
  .f_link button {
    font-size: 15px;
    color: #d0d0d0;
    display: block;
    width: 100%;
    line-height: 38px;
    height: 38px;
    text-align: center;
    padding: 0 20px;
    background: url('https://www.gocamping.or.kr/img/2018/main/icon_moreWs1.png')
      no-repeat 97% center;
  }
}

/***************************************************/
/***상단배너***********************/
#t_event_w {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  z-index: 10;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dedede;
}
#t_event_w img {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1250px;
  height: 100px;
  z-index: 10;
}
#t_event_w .t_event_checkbox {
  position: absolute;
  top: 65px;
  right: 16px;
  z-index: 21;
}
#t_event_w .t_event_checkbox input {
  vertical-align: -2px;
}
#t_event_w .t_event_btn {
  position: absolute;
  top: 30px;
  right: 16px;
  width: 33px;
  height: 32px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/t_banner_btn.png')
    no-repeat;
  z-index: 11;
}
#t_event_w .t_event_btn_fff {
  position: absolute;
  top: 30px;
  right: 16px;
  width: 33px;
  height: 32px;
  background: url('https://www.gocamping.or.kr/img/2018/layout/t_banner_btn_fff.png')
    no-repeat;
  z-index: 11;
}

@media all and (max-width: 999px) {
  #t_event_w {
    display: none !important;
  }
}

.img_box.map_w
  > div
  > div
  > div
  > div:nth-child(3)
  > div:nth-child(3)
  > div
  > div {
  border-radius: 10px !important;
  max-height: 90px;
}
