@charset "utf-8";

.skip {
  overflow: hidden;
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: auto;
  height: 1px;
  text-indent: -999px;
  z-index: -999;
}

.c_both {
  clear: both;
}
.clear {
  position: relative;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
  visibility: hidden;
  font-size: 0;
  height: 0px;
  overflow: hidden;
}
.p_relative {
  position: relative;
}
a.dc_none {
  text-decoration: none;
}

/*button*/
button.b_lightgray {
  background: #eeeeee;
  color: #373737;
  padding: 3px 10px;
  color: #333;
  border-radius: 5px;
  font-size: 15px;
}
button.b_green {
  background: #2db400;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}
button.b_yellow {
  background: #ffd50f;
  color: #503910;
  border-radius: 5px;
  font-size: 15px;
}
button.b_blue {
  background: #3b579d;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}
button.b_skyblue {
  background: #49a9cc;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}
button.b_orange {
  background: #eb7003;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}
button.b_darkblack {
  background: #454442;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

.btn_down01 {
  background: #454442;
  color: #fff;
  padding: 5px 20px 6px 20px;
  font-size: 13px;
  display: block;
  width: auto !important;
  text-align: center;
  box-sizing: border-box;
}

.dn {
  display: none;
}
.db {
  display: block;
}
.w1 {
  width: 1% !important;
}
.w2 {
  width: 2% !important;
}
.w3 {
  width: 3% !important;
}
.w4 {
  width: 4% !important;
}
.w5 {
  width: 5% !important;
}
.w6 {
  width: 6% !important;
}
.w7 {
  width: 7% !important;
}
.w8 {
  width: 8% !important;
}
.w9 {
  width: 9% !important;
}

.w10 {
  width: 10% !important;
}
.w20 {
  width: 20% !important;
}
.w30 {
  width: 30% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w60 {
  width: 60% !important;
}
.w70 {
  width: 70% !important;
}
.w80 {
  width: 80% !important;
}
.w90 {
  width: 90% !important;
}
.w100 {
  width: 100% !important;
}

.bg_01 {
  background: #f9f9f9 !important;
}
.info_t {
  display: block;
  font-size: 12px;
  color: #5f5f5f;
  padding: 5px 0;
  font-weight: bold;
  background: url('/img/2018/board/info_s.png') no-repeat 0 8px;
  padding-left: 20px;
}

/* Textarea ****************************************************************************************************************************************************************/
.textarea_m {
  height: 150px !important;
  font-size: 15px !important;
  padding: 10px 10px !important;
  box-sizing: border-box;
}

/* Float Align ********************************************************************************************************************************************************/
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.fn {
  float: none !important;
}

/* Line Height ********************************************************************************************************************************************************/
.line_h10 {
  line-height: 10px !important;
}
.line_h12 {
  line-height: 12px !important;
}
.line_h14 {
  line-height: 14px !important;
}
.line_h16 {
  line-height: 16px !important;
}
.line_h18 {
  line-height: 18px !important;
}
.line_h20 {
  line-height: 20px !important;
}
.line_h22 {
  line-height: 22px !important;
}
.line_h24 {
  line-height: 24px !important;
}
.line_h26 {
  line-height: 26px !important;
}
.line_h28 {
  line-height: 28px !important;
}
.line_h30 {
  line-height: 30px !important;
}
.line_h34 {
  line-height: 34px !important;
}
.line_h36 {
  line-height: 36px !important;
}
.line_h38 {
  line-height: 38px !important;
}
.line_h40 {
  line-height: 40px !important;
}
.line_h42 {
  line-height: 42px !important;
}
.line_h44 {
  line-height: 44px !important;
}
.line_h46 {
  line-height: 46px !important;
}
.line_h48 {
  line-height: 48px !important;
}
.line_h50 {
  line-height: 50px !important;
}
.line_h52 {
  line-height: 52px !important;
}
.line_h54 {
  line-height: 54px !important;
}
.line_h56 {
  line-height: 56px !important;
}
.line_h58 {
  line-height: 58px !important;
}
.line_h60 {
  line-height: 60px !important;
}
.line_h62 {
  line-height: 62px !important;
}
.line_h64 {
  line-height: 64px !important;
}
.line_h66 {
  line-height: 66px !important;
}
.line_h80 {
  line-height: 80px !important;
}

/* Vertical Align ****************************************************************************************************************************************************/
.valign_t {
  vertical-align: top !important;
}
.valign_m {
  vertical-align: middle !important;
}
.valign_b {
  vertical-align: bottom !important;
}

/* Text Align *********************************************************************************************************************************************************/
.t_c {
  text-align: center !important;
}
.t_l {
  text-align: left !important;
}
.t_r {
  text-align: right !important;
}

/* Font Color *********************************************************************************************************************************************************/
/* Basic Color */
.em_fff {
  color: #fff !important;
}
.em_000 {
  color: #000 !important;
}
.em_111 {
  color: #111 !important;
}
.em_222 {
  color: #222 !important;
}
.em_333 {
  color: #333 !important;
}
.em_444 {
  color: #444 !important;
}
.em_555 {
  color: #555 !important;
}
.em_666 {
  color: #666 !important;
}
.em_777 {
  color: #777 !important;
}
.em_888 {
  color: #888 !important;
}
.em_999 {
  color: #999 !important;
}
.em_ccc {
  color: #ccc !important;
}
.em_979797 {
  color: #979797 !important;
}

/* Web Color */
.em_gray {
  color: #424242 !important;
}
.em_dgray {
  color: #2b2b2b !important;
}
.em_blue {
  color: #0061a2 !important;
}
.em_blue2 {
  color: #5380c1 !important;
}
.em_dblue {
  color: #30333a !important;
}
.em_org {
  color: #eb831d !important;
}
.em_pink2 {
  color: #b42f84 !important;
}

/* Font Weight ********************************************************************************************************************************************************/
.fw_n {
  font-weight: normal !important;
}
.fw_b {
  font-weight: bold !important;
}

/* Font Size **********************************************************************************************************************************************************/
.fs_07 {
  font-size: 7px !important;
}
.fs_11 {
  font-size: 11px !important;
}
.fs_12 {
  font-size: 12px !important;
}
.fs_13 {
  font-size: 13px !important;
}
.fs_14 {
  font-size: 14px !important;
}
.fs_15 {
  font-size: 15px !important;
}
.fs_16 {
  font-size: 16px !important;
}
.fs_17 {
  font-size: 17px !important;
}
.fs_18 {
  font-size: 18px !important;
}
.fs_20 {
  font-size: 20px !important;
}
.fs_22 {
  font-size: 22px !important;
}
.fs_24 {
  font-size: 24px !important;
}
.fs_26 {
  font-size: 26px !important;
}
.fs_28 {
  font-size: 28px !important;
}
.fs_30 {
  font-size: 30px !important;
}
.fs_32 {
  font-size: 32px !important;
}
.fs_34 {
  font-size: 34px !important;
}
.fs_36 {
  font-size: 36px !important;
}
.fs_38 {
  font-size: 38px !important;
}
.fs_40 {
  font-size: 40px !important;
  letter-spacing: -1px !important;
}
.fs_42 {
  font-size: 42px !important;
  letter-spacing: -1px !important;
}
.fs_44 {
  font-size: 44px !important;
  letter-spacing: -1px !important;
}
.fs_46 {
  font-size: 45px !important;
  letter-spacing: -1px !important;
}
.fs_48 {
  font-size: 48px !important;
  letter-spacing: -1px !important;
}
.fs_50 {
  font-size: 50px !important;
  letter-spacing: -2px !important;
}
.fs_52 {
  font-size: 52px !important;
  letter-spacing: -2px !important;
}
.fs_54 {
  font-size: 54px !important;
  letter-spacing: -2px !important;
}
.fs_80 {
  font-size: 80px !important;
  letter-spacing: -2px !important;
}
.fs_86 {
  font-size: 86px !important;
  letter-spacing: -2px !important;
}

/* Letter-spacing ********************************************************************************************************************************************************/
.ls_0 {
  letter-spacing: 0 !important;
}
.ls_15 {
  letter-spacing: -1.5px !important;
}
.ls_18 {
  letter-spacing: -1.8px !important;
}
.ls_20 {
  letter-spacing: -2px !important;
}

/* Padding **********************************************************************************************************************************************************************************************/
/* top */
.pt_00 {
  padding-top: 0px !important;
}
.pt_01 {
  padding-top: 1px !important;
}
.pt_02 {
  padding-top: 2px !important;
}
.pt_03 {
  padding-top: 3px !important;
}
.pt_04 {
  padding-top: 4px !important;
}
.pt_05 {
  padding-top: 5px !important;
}
.pt_06 {
  padding-top: 6px !important;
}
.pt_07 {
  padding-top: 7px !important;
}
.pt_08 {
  padding-top: 8px !important;
}
.pt_09 {
  padding-top: 9px !important;
}
.pt_10 {
  padding-top: 10px !important;
}
.pt_15 {
  padding-top: 15px !important;
}
.pt_20 {
  padding-top: 20px !important;
}
.pt_25 {
  padding-top: 25px !important;
}
.pt_30 {
  padding-top: 30px !important;
}
.pt_35 {
  padding-top: 35px !important;
}
.pt_40 {
  padding-top: 40px !important;
}
.pt_45 {
  padding-top: 45px !important;
}
.pt_50 {
  padding-top: 50px !important;
}
.pt_55 {
  padding-top: 55px !important;
}
.pt_60 {
  padding-top: 60px !important;
}
.pt_65 {
  padding-top: 65px !important;
}
.pt_70 {
  padding-top: 70px !important;
}
.pt_75 {
  padding-top: 75px !important;
}
.pt_80 {
  padding-top: 80px !important;
}
.pt_85 {
  padding-top: 85px !important;
}
.pt_90 {
  padding-top: 90px !important;
}
.pt_95 {
  padding-top: 95px !important;
}
.pt_100 {
  padding-top: 100px !important;
}

/* right */
.pr_00 {
  padding-right: 0px !important;
}
.pr_01 {
  padding-right: 1px !important;
}
.pr_02 {
  padding-right: 2px !important;
}
.pr_03 {
  padding-right: 3px !important;
}
.pr_04 {
  padding-right: 4px !important;
}
.pr_05 {
  padding-right: 5px !important;
}
.pr_06 {
  padding-right: 6px !important;
}
.pr_07 {
  padding-right: 7px !important;
}
.pr_08 {
  padding-right: 8px !important;
}
.pr_09 {
  padding-right: 9px !important;
}
.pr_10 {
  padding-right: 10px !important;
}
.pr_15 {
  padding-right: 15px !important;
}
.pr_20 {
  padding-right: 20px !important;
}
.pr_25 {
  padding-right: 25px !important;
}
.pr_30 {
  padding-right: 30px !important;
}
.pr_35 {
  padding-right: 35px !important;
}
.pr_40 {
  padding-right: 40px !important;
}
.pr_45 {
  padding-right: 45px !important;
}
.pr_50 {
  padding-right: 50px !important;
}
.pr_55 {
  padding-right: 55px !important;
}
.pr_60 {
  padding-right: 60px !important;
}
.pr_65 {
  padding-right: 65px !important;
}
.pr_70 {
  padding-right: 70px !important;
}
.pr_75 {
  padding-right: 75px !important;
}
.pr_80 {
  padding-right: 80px !important;
}
.pr_85 {
  padding-right: 85px !important;
}
.pr_90 {
  padding-right: 90px !important;
}
.pr_95 {
  padding-right: 95px !important;
}
.pr_100 {
  padding-right: 100px !important;
}

/* bottom */
.pb_00 {
  padding-bottom: 0px !important;
}
.pb_01 {
  padding-bottom: 1px !important;
}
.pb_02 {
  padding-bottom: 2px !important;
}
.pb_03 {
  padding-bottom: 3px !important;
}
.pb_04 {
  padding-bottom: 4px !important;
}
.pb_05 {
  padding-bottom: 5px !important;
}
.pb_06 {
  padding-bottom: 6px !important;
}
.pb_07 {
  padding-bottom: 7px !important;
}
.pb_08 {
  padding-bottom: 8px !important;
}
.pb_09 {
  padding-bottom: 9px !important;
}
.pb_10 {
  padding-bottom: 10px !important;
}
.pb_15 {
  padding-bottom: 15px !important;
}
.pb_20 {
  padding-bottom: 20px !important;
}
.pb_25 {
  padding-bottom: 25px !important;
}
.pb_30 {
  padding-bottom: 30px !important;
}
.pb_35 {
  padding-bottom: 35px !important;
}
.pb_40 {
  padding-bottom: 40px !important;
}
.pb_45 {
  padding-bottom: 45px !important;
}
.pb_50 {
  padding-bottom: 50px !important;
}
.pb_55 {
  padding-bottom: 55px !important;
}
.pb_60 {
  padding-bottom: 60px !important;
}
.pb_65 {
  padding-bottom: 65px !important;
}
.pb_70 {
  padding-bottom: 70px !important;
}
.pb_75 {
  padding-bottom: 75px !important;
}
.pb_80 {
  padding-bottom: 80px !important;
}
.pb_85 {
  padding-bottom: 85px !important;
}
.pb_90 {
  padding-bottom: 90px !important;
}
.pb_95 {
  padding-bottom: 95px !important;
}
.pb_100 {
  padding-bottom: 100px !important;
}

/* left */
.pl_00 {
  padding-left: 0px !important;
}
.pl_01 {
  padding-left: 1px !important;
}
.pl_02 {
  padding-left: 2px !important;
}
.pl_03 {
  padding-left: 3px !important;
}
.pl_04 {
  padding-left: 4px !important;
}
.pl_05 {
  padding-left: 5px !important;
}
.pl_06 {
  padding-left: 6px !important;
}
.pl_07 {
  padding-left: 7px !important;
}
.pl_08 {
  padding-left: 8px !important;
}
.pl_09 {
  padding-left: 9px !important;
}
.pl_10 {
  padding-left: 5px !important;
}
.pl_10 {
  padding-left: 10px !important;
}
.pl_15 {
  padding-left: 15px !important;
}
.pl_17 {
  padding-left: 17px !important;
}
.pl_20 {
  padding-left: 20px !important;
}
.pl_25 {
  padding-left: 25px !important;
}
.pl_30 {
  padding-left: 30px !important;
}
.pl_35 {
  padding-left: 35px !important;
}
.pl_40 {
  padding-left: 40px !important;
}
.pl_45 {
  padding-left: 45px !important;
}
.pl_50 {
  padding-left: 50px !important;
}
.pl_55 {
  padding-left: 55px !important;
}
.pl_60 {
  padding-left: 60px !important;
}
.pl_65 {
  padding-left: 65px !important;
}
.pl_70 {
  padding-left: 70px !important;
}
.pl_75 {
  padding-left: 75px !important;
}
.pl_80 {
  padding-left: 80px !important;
}
.pl_85 {
  padding-left: 85px !important;
}
.pl_90 {
  padding-left: 90px !important;
}
.pl_95 {
  padding-left: 95px !important;
}
.pl_100 {
  padding-left: 100px !important;
}

/* Margin **********************************************************************************************************************************************************************************************/
/* top */
.mt_00 {
  margin-top: 0px !important;
}
.mt_01 {
  margin-top: 1px !important;
}
.mt_02 {
  margin-top: 2px !important;
}
.mt_03 {
  margin-top: 3px !important;
}
.mt_04 {
  margin-top: 4px !important;
}
.mt_05 {
  margin-top: 5px !important;
}
.mt_06 {
  margin-top: 6px !important;
}
.mt_07 {
  margin-top: 7px !important;
}
.mt_08 {
  margin-top: 8px !important;
}
.mt_09 {
  margin-top: 9px !important;
}
.mt_10 {
  margin-top: 10px !important;
}
.mt_15 {
  margin-top: 15px !important;
}
.mt_20 {
  margin-top: 20px !important;
}
.mt_25 {
  margin-top: 25px !important;
}
.mt_30 {
  margin-top: 30px !important;
}
.mt_35 {
  margin-top: 35px !important;
}
.mt_40 {
  margin-top: 40px !important;
}
.mt_45 {
  margin-top: 45px !important;
}
.mt_50 {
  margin-top: 50px !important;
}
.mt_55 {
  margin-top: 55px !important;
}
.mt_60 {
  margin-top: 60px !important;
}
.mt_65 {
  margin-top: 65px !important;
}
.mt_70 {
  margin-top: 70px !important;
}
.mt_75 {
  margin-top: 75px !important;
}
.mt_80 {
  margin-top: 80px !important;
}
.mt_85 {
  margin-top: 85px !important;
}
.mt_90 {
  margin-top: 90px !important;
}
.mt_95 {
  margin-top: 95px !important;
}
.mt_100 {
  margin-top: 100px !important;
}

/* right */
.mr_00 {
  margin-right: 0px !important;
}
.mr_01 {
  margin-right: 1px !important;
}
.mr_02 {
  margin-right: 2px !important;
}
.mr_03 {
  margin-right: 3px !important;
}
.mr_04 {
  margin-right: 4px !important;
}
.mr_05 {
  margin-right: 5px !important;
}
.mr_06 {
  margin-right: 6px !important;
}
.mr_07 {
  margin-right: 7px !important;
}
.mr_08 {
  margin-right: 8px !important;
}
.mr_09 {
  margin-right: 9px !important;
}
.mr_10 {
  margin-right: 10px !important;
}
.mr_15 {
  margin-right: 15px !important;
}
.mr_20 {
  margin-right: 20px !important;
}
.mr_25 {
  margin-right: 25px !important;
}
.mr_30 {
  margin-right: 30px !important;
}
.mr_35 {
  margin-right: 35px !important;
}
.mr_40 {
  margin-right: 40px !important;
}
.mr_45 {
  margin-right: 45px !important;
}
.mr_50 {
  margin-right: 50px !important;
}
.mr_55 {
  margin-right: 55px !important;
}
.mr_60 {
  margin-right: 60px !important;
}
.mr_65 {
  margin-right: 65px !important;
}
.mr_70 {
  margin-right: 70px !important;
}
.mr_75 {
  margin-right: 75px !important;
}
.mr_80 {
  margin-right: 80px !important;
}
.mr_85 {
  margin-right: 85px !important;
}
.mr_90 {
  margin-right: 90px !important;
}
.mr_95 {
  margin-right: 95px !important;
}
.mr_100 {
  margin-right: 100px !important;
}

/* bottom */
.mb_00 {
  margin-bottom: 0px !important;
}
.mb_01 {
  margin-bottom: 1px !important;
}
.mb_02 {
  margin-bottom: 2px !important;
}
.mb_03 {
  margin-bottom: 3px !important;
}
.mb_04 {
  margin-bottom: 4px !important;
}
.mb_05 {
  margin-bottom: 5px !important;
}
.mb_06 {
  margin-bottom: 6px !important;
}
.mb_07 {
  margin-bottom: 7px !important;
}
.mb_08 {
  margin-bottom: 8px !important;
}
.mb_09 {
  margin-bottom: 9px !important;
}
.mb_10 {
  margin-bottom: 10px !important;
}
.mb_15 {
  margin-bottom: 15px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.mb_25 {
  margin-bottom: 25px !important;
}
.mb_30 {
  margin-bottom: 30px !important;
}
.mb_35 {
  margin-bottom: 35px !important;
}
.mb_40 {
  margin-bottom: 40px !important;
}
.mb_45 {
  margin-bottom: 45px !important;
}
.mb_50 {
  margin-bottom: 50px !important;
}
.mb_55 {
  margin-bottom: 55px !important;
}
.mb_60 {
  margin-bottom: 60px !important;
}
.mb_65 {
  margin-bottom: 65px !important;
}
.mb_70 {
  margin-bottom: 70px !important;
}
.mb_75 {
  margin-bottom: 75px !important;
}
.mb_80 {
  margin-bottom: 80px !important;
}
.mb_85 {
  margin-bottom: 85px !important;
}
.mb_90 {
  margin-bottom: 90px !important;
}
.mb_95 {
  margin-bottom: 95px !important;
}
.mb_100 {
  margin-bottom: 100px !important;
}

/* left */
.ml_00 {
  margin-left: 0px !important;
}
.ml_01 {
  margin-left: 1px !important;
}
.ml_02 {
  margin-left: 2px !important;
}
.ml_03 {
  margin-left: 3px !important;
}
.ml_04 {
  margin-left: 4px !important;
}
.ml_05 {
  margin-left: 5px !important;
}
.ml_06 {
  margin-left: 6px !important;
}
.ml_07 {
  margin-left: 7px !important;
}
.ml_08 {
  margin-left: 8px !important;
}
.ml_09 {
  margin-left: 9px !important;
}
.ml_10 {
  margin-left: 10px !important;
}
.ml_15 {
  margin-left: 15px !important;
}
.ml_17 {
  margin-left: 17px !important;
}
.ml_20 {
  margin-left: 20px !important;
}
.ml_25 {
  margin-left: 25px !important;
}
.ml_30 {
  margin-left: 30px !important;
}
.ml_35 {
  margin-left: 35px !important;
}
.ml_40 {
  margin-left: 40px !important;
}
.ml_45 {
  margin-left: 45px !important;
}
.ml_50 {
  margin-left: 50px !important;
}
.ml_55 {
  margin-left: 55px !important;
}
.ml_60 {
  margin-left: 60px !important;
}
.ml_65 {
  margin-left: 65px !important;
}
.ml_70 {
  margin-left: 70px !important;
}
.ml_75 {
  margin-left: 75px !important;
}
.ml_80 {
  margin-left: 80px !important;
}
.ml_85 {
  margin-left: 85px !important;
}
.ml_90 {
  margin-left: 90px !important;
}
.ml_95 {
  margin-left: 95px !important;
}
.ml_100 {
  margin-left: 100px !important;
}

/*추가_오윤정*/
.w15 {
  width: 15% !important;
}
.w17 {
  width: 17% !important;
}
.w25 {
  width: 25% !important;
}
.w95 {
  width: 95% !important;
}
.w97 {
  width: 97% !important;
  float: right;
}

.ir_img {
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  width: 0;
}
.mask_bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 991;
  background-color: #000;
  display: none;
  width: 100%;
  height: 100%;
}

/*input*/
input.txt_input {
  padding: 10px 10px;
}

/**/
.btn_h40 {
  height: 40px !important;
  width: 15%;
}
